<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<<f:layout name="Default" />

	<f:section name="Main">
		<f:for each="{records}" as="address">
			<div class="address">
				<f:render partial="Components/Address" section="Phone" arguments="{address: address}" />
				<f:render partial="Components/Address" section="Mail" arguments="{address: address}" />

				<f:if condition="{settings.structuredDataType} == 'localBusiness'">
					<xo:jsonLd.localBusiness address="{address}" />
				</f:if>
			</div>
		</f:for>
	</f:section>
</div>