// ---------------------------------------------------------------------------------------------------------------------
// Use
@use 'sass:math';

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../functions';
@import '../variables';
@import '../mixins';

// ---------------------------------------------------------------------------------------------------------------------
// Image
.ce-image__item {
	& {
		margin: 0;
	}

	picture {
		display: block;
	}

	img, svg {
		max-width: 100%;
		height: auto;
	}
}

.ce-image__container {
	display: flex;
	height: 100%;
}

.ce-image__container--horizontal-center {
	justify-content: center;
}

.ce-image__container--horizontal-right {
	justify-content: flex-end;
}

.ce-image__container--vertical-center {
	align-items: center;
}

.ce-image__container--vertical-bottom {
	align-items: flex-end;
}

// ---------------------------------------------------------------------------------------------------------------------
// Columns
.ce-textmedia--grid {
	& {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: -15px;
		margin-right: -15px;
	}

	.ce-textmedia--content {
		& {
			margin-top: var(--spacing--default);
		}

		& > *:first-child, .ce-header > *:first-child {
			margin-top: 0;
		}
	}

	.ce-textmedia--content + .ce-textmedia--media {
		margin-top: var(--spacing--default);
	}
}

.ce-textmedia--column {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.ce-textmedia--grid {
		.ce-textmedia--content {
			margin-top: 0;
		}

		&.ce-textmedia--arrangement-after.ce-textmedia--media-position-left,
		&.ce-textmedia--arrangement-before.ce-textmedia--media-position-right {
			flex-direction: row-reverse;
		}

		.ce-textmedia--content + .ce-textmedia--media {
			margin-top: 0;
		}

		&.ce-textmedia--media-position-left {
			.ce-textmedia--content {
				padding-left: 35px; // $spacing-default + 15px Grid
			}
		}

		&.ce-textmedia--media-position-right {
			.ce-textmedia--content {
				padding-right: 35px; // $spacing-default + 15px Grid
			}
		}
	}

	.ce-textmedia--grid-33-66 {
		&.ce-textmedia--arrangement-before {
			.ce-textmedia--column:nth-child(1) {
				width: math.div(4, 12);
			}

			.ce-textmedia--column:nth-child(2) {
				width: math.div(8, 12);
			}
		}

		&.ce-textmedia--arrangement-after {
			.ce-textmedia--column:nth-child(1) {
				width: math.div(8, 12);
			}

			.ce-textmedia--column:nth-child(2) {
				width: math.div(4, 12);
			}
		}
	}

	.ce-textmedia--grid-50-50 {
		.ce-textmedia--column:nth-child(1),
		.ce-textmedia--column:nth-child(2) {
			width: math.div(6, 12);
		}
	}

	.ce-textmedia--grid-66-33 {
		&.ce-textmedia--arrangement-before {
			.ce-textmedia--column:nth-child(1) {
				width: math.div(4, 12);
			}

			.ce-textmedia--column:nth-child(2) {
				width: math.div(8, 12);
			}
		}

		&.ce-textmedia--arrangement-after {
			.ce-textmedia--column:nth-child(1) {
				width: math.div(8, 12);
			}

			.ce-textmedia--column:nth-child(2) {
				width: math.div(4, 12);
			}
		}
	}
}