.footer--layout-0 {
	& {
		padding-top: rem(20px);
		padding-bottom: rem(20px);
		background: #eaeaea;
	}

	.navigation {
		@include navigation--layout-0;
	}

	.address {
		margin: $spacing-medium 0 0 0;
	}
}