// ---------------------------------------------------------------------------------------------------------------------
// Form Elements
%form-item {
  position: relative;
}

%form-field {
  & {
    outline: 0;
    padding: rem(4px 8px);
    border: 2px solid $theme-color-primary;
    border-radius: 3px;
  }

  &:focus {
    border-color: $theme-color-primary-dark;
  }

  &[disabled] {
    background: $color-grey-light;
    border-color: $color-grey-light;
    cursor: not-allowed;
  }
}

select%form-field {
  min-height: rem(39px);
}

%form-field--checkbox, %form-field--radio {
  & {
    position: relative;
    padding: rem(0 0 0 23px);
  }

  .focusable & {
    @extend %accessibility-focus-within;
  }

  input {
    & {
      position: absolute;
      top: rem(7px); left: rem(1px);
    }

    &:focus {
      outline: 0;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Buttons
%button {
  & {
    padding: $spacing-tiny $spacing-small;
    border: 0;
		outline: 0;
    background: #ccc;
    cursor: pointer;
    border-radius: 3px;
  }

  &:hover, &:focus {
    background: #bbb;
  }
}

%button--disabled {
  & {
    cursor: default;
  }

  &:hover {
    background: #ccc;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout 0 (Default)
%form--layout-0 {
  %form-item, %form-action {
    margin: $spacing-small 0 0 0;
  }

  %form-label {
    & + %form-field {
      margin: $spacing-tiny 0 0 0;
    }
  }

  %form-field {
    width: 100%;
  }
}