/* saira-condensed-regular - latin */
@font-face {
	font-family: 'Saira Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/saira-condensed-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'),
	url('../fonts/saira-condensed-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/saira-condensed-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/saira-condensed-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/saira-condensed-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/saira-condensed-v6-latin-regular.svg#SairaCondensed') format('svg'); /* Legacy iOS */
}

/* saira-condensed-500 - latin */
@font-face {
	font-family: 'Saira Condensed';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/saira-condensed-v6-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Saira Condensed Medium'), local('SairaCondensed-Medium'),
	url('../fonts/saira-condensed-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/saira-condensed-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/saira-condensed-v6-latin-500.woff') format('woff'), /* Modern Browsers */
	url('../fonts/saira-condensed-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/saira-condensed-v6-latin-500.svg#SairaCondensed') format('svg'); /* Legacy iOS */
}