// ---------------------------------------------------------------------------------------------------------------------
// Header
#header {
	& {
		overflow: hidden;
	}

	.container-inner {
		position: relative;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Logo
.logo--container {
	& {
		position: relative;
		padding: rem(30px 0 0 0);
	}

	h1 {
		margin: rem(5px 0 0 0);
		font-size: rem(20px);
		color: #666;
	}
}

.logo--background {
	position: absolute;
	top: -185px;
	left: -102px;
	width: 280px;
	transform: rotate(55deg);
	fill: #00beee;
}

#logo {
	& {
		position: relative;
		width: 220px;
		height: 96px;
	}

	.logo--bicycle {
		fill: #fff;
	}

	.logo--lettering {
		fill: #00beee;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Hamburger
.hamburger {
	position: absolute;
	top: rem(15px); right: 0;
}

// ---------------------------------------------------------------------------------------------------------------------
// Sidebar
@include media-breakpoint-down(sm) {
	#header {
		.sidebar {
			transform: translate(-100%, 0);
			position: fixed;
			top: rem(75px); bottom: 0;
			left: 0;
			width: 100%;
			background: $theme-color-primary;
			opacity: 1;
			transition-property: opacity, transform;
			transition-timing-function: ease-out;
			transition-duration: 0.25s;
		}

		.navigation {
			& {
				@include navigation--layout-1();
				padding: rem(55px) 0 0 0;
			}

			li {
				& {
					border-top: 1px solid #97c8cf;
				}

				&:first-child {
					border: 0;
				}
			}

			a, .current > span {
				padding: rem(12px) $spacing-medium;
				color: #fff
			}

			a:hover {
				color: $theme-color-hover;
				text-decoration: none;
			}
		}

		.is--sidebar-active & {
			& {
				position: fixed;
				z-index: 25;
				background: #fff;
			}

			.sidebar {
				transform: translate(0, 0);
			}
		}

		.is--sidebar-closing & {
			.sidebar {
				opacity: 0;
			}
		}
	}

	.is--sidebar-closing {
		position: static;
	}
}

//// ---------------------------------------------------------------------------------------------------------------------
//// >= 576
//@include media-breakpoint-up(sm) {
//	#header {
//		min-height: 255px;
//	}
//
//	.notification--container {
//		display: block;
//	}
//}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768
@include media-breakpoint-up(md) {
	.logo--container {
		& {
			padding: rem(60px 0 0 0);
		}

		h1 {
			font-size: rem(24px);
		}
	}

	.logo--background {
		width: 500px;
		top: -338px;
		left: -215px;
	}

	#logo {
		width: 320px;
		height: 140px;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.logo--background {
		height: 483px;
	}
}