// ---------------------------------------------------------------------------------------------------------------------
// Grundelemente
.container-outer {
	& {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& > .container-inner {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

// Laufweite
.container-outer--width-normal > .container-inner {
	width: $page-max-width;
}