// ---------------------------------------------------------------------------------------------------------------------
// SVG Container
.svg-sprite--container {
	display: none;
}

// ---------------------------------------------------------------------------------------------------------------------
// Hauptbereiche
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header {
	position: absolute;
	top: 0;	left: 0;
	z-index: 100;
	width: 100%;
}

#content--main {
	flex: 1 auto; // IE 11 Fallback: auto
}

#content--header, #content--main, #content--footer {
	& > .ce-frame--space-after-auto:last-child {
		@extend %container-space-after-medium;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Header
.page-header {
	& {
		padding-top: rem(10px);
		padding-bottom: rem(10px);
	}

	.container-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 60px;
		grid-template-columns: auto 60px;
		grid-gap: 10px;
		align-items: center;
		min-height: rem(60px);
	}

	.logo {
		& {
			@extend %logo;
			max-width: 120px;
			max-height: rem(60px); // muss fuer den IE 11 der Anzeigehoehe entsprechen
		}

		svg {
			fill: $font-color-base;
		}

		&:hover svg {
			fill: $link-color-hover;
		}
	}

	.hamburger {
		position: relative;
		left: 12px;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Layout Default
.page--layout-0, .page--layout-4 {
	#breadcrumb {
		position: absolute;
		top: rem(130px);
		left: 0; right: 0;
	}

	#header + .ce-content, #header + #breadcrumb + .ce-content {
		.container-outer:first-child .container-inner, .ce-frame:first-child .ce-frame--inner {
			padding-top: rem(80px); // Hoehe des Headers
		}
	}
}

.page--layout-4 {
	#content--main {
		& {
			flex: 0;
		}

		& > .ce-frame--space-after-auto:last-child {
			& {
				padding-bottom: 0;
			}

			.ce-frame--inner {
				margin-bottom: 0;
			}
		}
	}

	#content--footer {
		flex: 1 auto;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Container / Layout
.container-outer {
	@extend %container-outer;
	@extend %container-width-normal;
	@extend %container-align-center;
}

.container-inner {
	@extend %container-inner;
}

// Container / Fluid Styled Content
.ce-frame--outer {
	@extend %container-outer;
	@extend %container-align-center;
}

.ce-frame--inner {
	@extend %container-inner;
}

// Container / Fluid Styled Content / Laufweiten
.ce-frame--layout-0 {
	@extend %container-width-normal;
}

.ce-frame--layout-1 {
	@extend %container-width-indent-right;
}

.ce-frame--layout-2 {
	@extend %container-width-full;
}

// Container / Fluid Styled Content / Abstaende
.ce-frame--space-before-small {
	@extend %container-space-before-small;
}

.ce-frame--space-before-medium {
	@extend %container-space-before-medium;
}

.ce-frame--space-after-small {
	@extend %container-space-after-small;
}

.ce-frame--space-after-medium {
	@extend %container-space-after-medium;
}

// Container / Fluid Styled Content / Farbschema
.ce-frame--class-0 {
	@extend %container-class-0;
}

.ce-frame--class-1 {
	@extend %container-class-1;
}

// ---------------------------------------------------------------------------------------------------------------------
// Standard-Elemente
.ce-header--layout-1 {
	h2, h3 {
		@include header-1;
	}
}

.ce-header--layout-2 {
	h1, h3 {
		@include header-2;
	}
}

.ce-header--layout-3 {
	h1, h2 {
		@include header-3;
	}
}

.ce-header--layout-2, .ce-header--layout-3 {
	& + p, & + ul, & + ol, & + table {
		margin-top: $spacing-small;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// < 576px
@include media-breakpoint-down(sm) {
	.page-header {
		.off-canvas {
			display: none; // wird ueber die _layout.scss wieder eingeblendet
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.page-header .hamburger {
		left: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.page-header {
		.container-inner {
			//-ms-grid-columns: 140px 1fr 60px;
			//grid-template-columns: 140px auto 60px;
			//grid-gap: 30px;

			position: relative;
			display: grid;
			grid-template-columns: 140px 1fr;
			grid-template-rows: 35px 60px;
			gap: 5px 30px;
			grid-template-areas:
				'. off-canvas off-canvas'
				'logo off-canvas off-canvas';
		}

		.off-canvas {
			grid-area: off-canvas;

			display: grid;
			grid-template-columns: 1fr 20px 60px;
			grid-template-rows: 35px 60px;
			gap: 5px 20px;
			grid-template-areas:
				'meta-navigation language-navigation language-navigation'
				'main-navigation main-navigation search';
		}

		.logo {
			grid-area: logo;
			align-self: end;
			margin: 0 0 9px 0;
		}

		.search-widget--link {
			grid-area: search;
			display: flex;
			height: 100%;
			justify-content: flex-end;
		}

		.search-widget--field {
			display: none;
		}

		.language-navigation {
			& {
				grid-area: language-navigation;
			}

			ul {
				justify-content: flex-end;
			}
		}

		.main-navigation {
			grid-area: main-navigation;
			align-self: end;
		}

		.meta-navigation {
			& {
				grid-area: meta-navigation;
				@include navigation--layout-0;
			}

			ul {
				justify-content: flex-end;
			}
		}

		.hamburger {
			display: none;
		}

		.main-navigation {
			& {
				@include navigation--layout-2(false);
				padding-left: 10px;
			}

			.navigation-item--expandable svg {
				display: none;
			}

			.navigation--container-outer {
				display: none; // wird ueber die _layout.scss wieder eingeblendet
			}
		}
	}

	.page--layout-0, .page--layout-4 {
		#header + .ce-content, #header + #breadcrumb + .ce-content {
			.container-outer:first-child .container-inner, .ce-frame:first-child .ce-frame--inner {
				padding-top: rem(130px); // Hoehe des Headers
			}
		}
	}
}