// ---------------------------------------------------------------------------------------------------------------------
// Allgemeine HTML- und Inhaltsdefinitionen
a, input, select, textarea, button {
	outline: 0;
}

.focusable, .no-js {
	a, input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]) {
		@extend %accessibility-focus;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Scroll-Lock
.is--scroll-lock {
	max-width: 100%;
	position: fixed;
	overflow-y: hidden;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Footer
.page-footer {
	& {
		padding-top: rem(20px);
		padding-bottom: rem(20px);
		background: #f7f7f7;
	}

	.navigation {
		& {
			@include navigation--layout-0;
		}

		a:hover, a:focus {
			text-decoration: none;
		}
	}

	.address {
		margin: $spacing-medium 0 0 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// < 576px
@include media-breakpoint-down(sm) {
	.page-header {
		.off-canvas {
			display: block;
			transform: translate(-100%, 0);
			position: fixed;
			top: rem(80px); bottom: 0;
			left: 0;
			width: 100%;
			background: #fff;
			opacity: 1;
			transition-property: opacity, transform;
			transition-timing-function: ease-out;
			transition-duration: 0.25s;
		}

		.navigation {
			& {
				@include navigation--layout-4();
				padding: $spacing-medium 0 0 0;
			}

			li {
				& {
					border-top: 1px solid #eaeaea;
				}

				&:first-child {
					border: 0;
				}
			}

			a, li > span {
				padding: rem(10px) $spacing-medium;
			}

			a:hover {
				text-decoration: none;
			}
		}

		.search-widget--field {
			& {
				position: relative;
				z-index: 1;
				margin: $spacing-default 0 0 0;
				padding: 0 $spacing-default;
			}

			.search-widget--submit {
				right: $spacing-default;
			}

			.search-widget--close {
				display: none;
			}
		}

		.language-navigation {
			padding: rem(20px) 0 0 $spacing-default;
		}

		.is--off-canvas-active & {
			& {
				position: fixed;
				z-index: 25;
				background: #fff;
			}

			.off-canvas {
				transform: translate(0, 0);
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.page-header {
		.search-widget--field {
			& {
				position: absolute;
				bottom: 0; right: 0;
				left: 150px; // Logo + Grid-Gap
				z-index: -1;
				padding: rem(10px 40px 8px 0);
				background: #fff;
				opacity: 0;
			}

			.search-widget--submit {
				top: rem(10px); right: rem(40px);
			}

			.search-widget--close {
				top: rem(10px); right: 0;
				width: rem(40px);
				text-align: right;

				svg {
					margin: 8px 0 0 0;
					width: 21px;
					height: 21px;
				}
			}

			.is--search-widget & {
				opacity: 1;
				z-index: 10;
			}
		}
	}

	.main-navigation {
		& {
			@include navigation--layout-2(true);
		}

		.navigation--container-outer {
			display: block;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.page-header {
		.container-inner {
			display: -ms-grid;
			-ms-grid-columns: 300px 1fr 300px;
			-ms-grid-rows: 100px 100px;
			gap: 5px 30px;
		}

		.logo {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 0;
		}

		.off-canvas {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 2;
			-ms-grid-column-span: 3;
		}

		.off-canvas {
			display: -ms-grid;
			-ms-grid-columns: 1fr 300px 300px;
			-ms-grid-rows: 300px 300px;
			gap: 5px 30px;
		}

		.language-navigation {
			-ms-grid-row: 1;
			-ms-grid-row-span: 1;
			-ms-grid-column: 2;
			-ms-grid-column-span: 3;
		}

		.main-navigation {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
		}

		.search-widget--link {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			-ms-grid-column: 3;
			-ms-grid-column-span: 2;
		}

		.meta-navigation {
			-ms-grid-row: 1;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
		}

		// Vertical-Align: Middle for IE 11
		.navigation {
			& {
				height: 100%;
				padding-left: 20px;
			}

			ul {
				height: 100%;
				align-items: center;
			}
		}
	}
}