// ---------------------------------------------------------------------------------------------------------------------
// Allgemeine HTML- und Inhaltsdefinitionen
a, input, select, textarea, button {
	outline: 0;
}

.focusable, .no-js {
	a, input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]) {
		@extend %accessibility-focus;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Scroll-Lock
.is--scroll-lock {
	max-width: 100%;
	position: fixed;
	overflow-y: hidden;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Footer
.page-footer {
	& {
		border-top: 2px solid #e5e5e5;
		padding-top: rem(30px);
		padding-bottom: rem(80px);
	}

	.copyright {
		font-weight: $font-weight-bold;
	}

	.navigation {
		ul {
			margin-left: -10px;
			margin-right: -10px;
		}

		a:hover, a:focus {
			text-decoration: none;
			color: $theme-color-third;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// < 576px
@include media-breakpoint-down(sm) {
	.page-header {
		.off-canvas {
			display: block;
			transform: translate(-100%, 0);
			position: fixed;
			top: rem(80px); bottom: 0;
			left: 0;
			width: 100%;
			background: #fff;
			opacity: 1;
			transition-property: opacity, transform;
			transition-timing-function: ease-out;
			transition-duration: 0.25s;
		}

		.navigation {
			& {
				@include navigation--layout-4();
				padding: $spacing-medium 0 0 0;
			}

			li {
				& {
					border-top: 1px solid #eaeaea;
				}

				&:first-child {
					border: 0;
				}
			}

			a, li > span {
				padding: rem(10px) $spacing-medium;
			}

			a:hover {
				text-decoration: none;
			}
		}

		.is--off-canvas-active & {
			& {
				position: fixed;
				z-index: 25;
				background: #fff;
			}

			.off-canvas {
				transform: translate(0, 0);
			}
		}
	}

	// hoeheren CSS Selektor verwenden um Inline-CSS zu ueberschreiben
	body .page-header {
		.off-canvas {
			display: block;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.page-footer {
		.navigation {
			@include navigation--layout-0;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.page-footer {
		& {
			padding-top: rem(40px);
			padding-bottom: rem(105px);
		}

		.container-inner {
			display: flex;
		}

		.copyright {
			padding: 3px 0;
		}

		.navigation {
			margin-left: auto;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.page-header {
		.container-inner {
			display: -ms-grid;
			-ms-grid-columns: 300px 1fr 300px;
			-ms-grid-rows: 100px 100px;
			gap: 5px 30px;
		}

		.logo {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 0;
		}

		.off-canvas {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 2;
			-ms-grid-column-span: 3;
		}

		.off-canvas {
			display: -ms-grid;
			-ms-grid-columns: 1fr 300px 300px;
			-ms-grid-rows: 300px 300px;
			gap: 5px 30px;
		}

		.language-navigation {
			-ms-grid-row: 1;
			-ms-grid-row-span: 1;
			-ms-grid-column: 2;
			-ms-grid-column-span: 3;
		}

		.main-navigation {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
		}

		.search-widget--link {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			-ms-grid-column: 3;
			-ms-grid-column-span: 2;
		}

		.meta-navigation {
			-ms-grid-row: 1;
			-ms-grid-row-span: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
		}

		// Vertical-Align: Middle for IE 11
		.navigation {
			& {
				height: 100%;
				padding-left: 20px;
			}

			ul {
				height: 100%;
				align-items: center;
			}
		}
	}
}