// ---------------------------------------------------------------------------------------------------------------------
// SVG Container
.svg-sprite--container {
	display: none;
}

// ---------------------------------------------------------------------------------------------------------------------
// Hauptbereiche
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header {
	position: absolute;
	top: 0;	left: 0;
	z-index: 100;
	width: 100%;
}

#content--main {
	flex: 1 auto; // IE 11 Fallback: auto
}

#content--header, #content--main {
	& > .ce-frame--space-after-auto:last-child {
		@extend %container-space-after-medium;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Header
.page-header {
	& {
		padding-top: rem(10px);
		padding-bottom: rem(10px);
	}

	.container-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 60px;
		grid-template-columns: auto 60px;
		grid-gap: 10px;
		align-items: center;
		min-height: rem(60px);
	}

	.logo {
		& {
			@extend %logo;
			max-width: rem(192px);
			max-height: rem(66px); // muss fuer den IE 11 der Anzeigehoehe entsprechen
			background: none;
		}

		.logo--title {
			fill: #464646;
		}

		.logo--color-primary {
			fill: #38afb1;
		}
	}

	.hamburger {
		position: relative;
		left: 12px;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Layout Default
.page--layout-0, .page--layout-4 {
	#header + .ce-content {
		.container-outer:first-child .container-inner, .ce-frame:first-child .ce-frame--inner {
			padding-top: rem(80px); // Hoehe des Headers
		}
	}
}

.page--layout-4 {
	.logo {
		.logo--title, .logo--color-primary {
			fill: #fff;
		}
	}

	.hamburger {
		.hamburger-inner {
			&, &:before, &:after {
				background: #b5f5f6;
			}
		}

		&:hover {
			.hamburger-inner {
				&, &:before, &:after {
					background: #fff;
				}
			}
		}
	}

	&.is--off-canvas-active {
		.logo {
			.logo--title {
				fill: #464646;
			}

			.logo--color-primary {
				fill: #38afb1;
			}
		}

		.hamburger {
			.hamburger-inner {
				&, &:before, &:after {
					background: $hamburger-layer-color;
				}
			}

			&:hover {
				.hamburger-inner {
					&, &:before, &:after {
						background: $hamburger-active-layer-color;
					}
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Container / Layout
.container-outer {
	@extend %container-outer;
	@extend %container-width-normal;
	@extend %container-align-center;
}

.container-inner {
	@extend %container-inner;
}

// Container / Fluid Styled Content
.ce-frame--outer {
	@extend %container-outer;
	@extend %container-align-center;
}

.ce-frame--inner {
	@extend %container-inner;
}

// Container / Fluid Styled Content / Laufweiten
.ce-frame--layout-0 {
	@extend %container-width-normal;
}

.ce-frame--layout-1 {
	@extend %container-width-indent-right;
}

.ce-frame--layout-2 {
	@extend %container-width-full;
}

.ce-frame--layout-4, .ce-frame--layout-5, .ce-frame--layout-6 {
	& {
		@extend %container-width-normal;
	}

	&.ce-frame--class-1, &.ce-frame--class-2 {
		& {
			background: transparent;
		}

		& > .ce-frame--inner {
			& {
				position: relative;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0; bottom: 0;
				left: -$spacing-medium; right: -$spacing-medium;
				z-index: -1;

			}
		}

		&.ce-frame--space-before-small > .ce-frame--inner {
			&:before {
				top: calc(var(--container-space-small) * -1);
			}
		}

		&.ce-frame--space-before-medium > .ce-frame--inner {
			&:before {
				top: calc(var(--container-space-medium) * -1);
			}
		}

		&.ce-frame--space-before-large > .ce-frame--inner {
			&:before {
				top: calc(var(--container-space-large) * -1);
			}
		}

		&.ce-frame--space-after-small > .ce-frame--inner {
			&:before {
				bottom: calc(var(--container-space-small) * -1);
			}
		}

		&.ce-frame--space-after-medium > .ce-frame--inner {
			&:before {
				bottom: calc(var(--container-space-medium) * -1);
			}
		}

		&.ce-frame--space-after-large > .ce-frame--inner {
			&:before {
				bottom: calc(var(--container-space-large) * -1);
			}
		}
	}

	&.ce-frame--class-1 > .ce-frame--inner:before {
		background: #f7f7f7;
	}

	&.ce-frame--class-2 > .ce-frame--inner:before {
		background: $theme-color-primary;
	}
}

// Container / Fluid Styled Content / Abstaende
.ce-frame--space-before-small {
	@extend %container-space-before-small;
}

.ce-frame--space-before-medium {
	@extend %container-space-before-medium;
}

.ce-frame--space-before-large {
	@extend %container-space-before-large;
}

.ce-frame--space-before-extra-large {
	@extend %container-space-before-extra-large;
}

.ce-frame--space-after-small {
	@extend %container-space-after-small;
}

.ce-frame--space-after-medium {
	@extend %container-space-after-medium;
}

.ce-frame--space-after-large {
	@extend %container-space-after-large;
}

.ce-frame--space-after-extra-large {
	@extend %container-space-after-extra-large;
}

// Container / Fluid Styled Content / Farbschema
.ce-frame--class-0 {
	@extend %container-class-0;
}

.ce-frame--class-1 {
	@extend %container-class-1;
}

.ce-frame--class-2 {
	@extend %container-class-2;
}

.ce-frame--class-3 {
	@extend %container-class-3;
}

// ---------------------------------------------------------------------------------------------------------------------
// Standard-Elemente
.ce-header--layout-1 {
	&, h2, h3 {
		@extend %header-x;
		@extend %header-1;
	}
}

.ce-header--layout-2 {
	h1, h3 {
		@extend %header-x;
		@extend %header-2;
	}
}

.ce-header--layout-3 {
	h1, h2 {
		@extend %header-x;
		@extend %header-3;
	}
}

.ce-header--layout-2, .ce-header--layout-3 {
	& + p, & + ul, & + ol, & + table {
		margin-top: $spacing-small;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// < 576px
@include media-breakpoint-down(sm) {
	.page-header {
		.off-canvas {
			display: none; // wird ueber die _layout.scss wieder eingeblendet
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.page-header .hamburger {
		left: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.ce-content {
		.ce-frame--outer {
			& {
				padding-right: rem(80px); // Ausgleich vom Sticky Container
			}

			&.ce-frame--layout-2 {
				padding-right: 0;
			}
		}

		.ce-frame--layout-4, .ce-frame--layout-5, .ce-frame--layout-6 {
			&.ce-frame--class-2 > .ce-frame--inner {
				&:before {
					right: rem(-80px);
				}
			}
		}
	}

	.page-header {
		& {
			padding-top: rem(20px);
			padding-bottom: rem(20px);
		}

		.container-inner {
			position: relative;
			display: grid;
			grid-template-columns: 192px 1fr;
			grid-template-rows: 66px;
			gap: 5px 0;
			grid-template-areas:
				'logo off-canvas';
		}

		.off-canvas {
			grid-area: off-canvas;
		}

		.logo {
			grid-area: logo;
			align-self: end;
		}

		.hamburger {
			display: none;
		}

		.main-navigation {
			& {
				@include navigation--layout-2(false);
				padding: 5px 0 0 120px;
			}

			& > ul {
				justify-content: flex-end;
			}

			a {
				span {
					display: inline-block;
				}

				&:hover, .focusable &:focus {
					& {
						color: $link-color;
					}
				}
			}

			.navigation-item--expandable svg {
				display: none;
			}

			.navigation--container-outer {
				display: none; // wird ueber die _layout.scss wieder eingeblendet
			}
		}
	}

	.page--layout-0, .page--layout-4 {
		#header + .ce-content {
			.container-outer:first-child .container-inner, .ce-frame:first-child .ce-frame--inner {
				padding-top: rem(70px); // Hoehe des Headers
			}
		}
	}

	.page--layout-4 {
		.main-navigation a {
			color: #fff;
		}

		.main-navigation a > span {
			background-image: linear-gradient(#fff, #fff);
		}

		.main-navigation a:hover, &.focusable .main-navigation a:focus {
			color: #fff;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 992px
@include media-breakpoint-up(lg) {
	.page-header {
		.main-navigation {
			& {
				font-size: rem(20px);
			}

			& > ul {
				justify-content: flex-start;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 1200px
@include media-breakpoint-up(xl) {
	.ce-content {
		.ce-frame--outer {
			padding-right: $spacing-default; // Ausgleich vom Sticky Container
		}

		.ce-frame--layout-4, .ce-frame--layout-5, .ce-frame--layout-6 {
			& {
				overflow: hidden;
			}

			&.ce-frame--class-1 > .ce-frame--inner, &.ce-frame--class-2 > .ce-frame--inner {
				&:before {
					left: rem(-60px);
					right: rem(-60px);
					border-radius: 10px;
				}
			}
		}
	}
}