// ---------------------------------------------------------------------------
// Default
.navigation {
	ul {
		@include list-unstyled();
	}

	a {
		& {
			display: block;
			text-decoration: none;
		}
	}
}

// ---------------------------------------------------------------------------
// Horizontal
.navigation-horizontal {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-left: rem(-5px);
		margin-right: rem(-5px);
	}

	a {
		padding: rem(0 5px);
	}
}