// ---------------------------------------------------------------------------------------------------------------------
// Header
$headings-font-weight: 400 !default;
$headings-line-height: 1.15 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Font
$font-family-serif: 'Times New Roman', Times, 'Times-Roman', serif !default;
$font-family-sans-serif: 'Open Sans', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-color-base: #343434 !default;
$font-size-base-px: 16px !default;
$font-size-base: 0.925rem !default;
$line-height-base: 1.5 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Links
$link-color: #ecb103 !default;
$link-color-hover: $font-color-base !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid columns
$grid-gutter-width: 30px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Layout
$page-max-width: 1000px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Icon Font
$create-font-face: false !default;
$create-icon-classes: true !default;
$icon-prefix: 'icon-' !default;
$icon-public-path: '../Font/' !default;