// ---------------------------------------------------------------------------------------------------------------------
// Header
$headings-font-weight: 300 !default;
$headings-line-height: 1.15 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Font
$font-family-base: 'Candara', Arial, sans-serif !default;
$font-color-base: #505050 !default;
$font-size-base-px: 16px !default;
$font-size-base: 1rem !default;
$font-weight-base: 400;
$font-weight-bold: 500;
$line-height-base: 1.5 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Links
$link-color: $font-color-base !default;
$link-color-hover: #1d1d1d !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid columns
$grid-gutter-width: 20px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Layout
$page-max-width: 1120px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Icon Font
$create-font-face: false !default;
$create-icon-classes: true !default;
$icon-prefix: 'icon-' !default;
$icon-public-path: '/assets/fonts/' !default;