// ---------------------------------------------------------------------------------------------------------------------
// Header
$headings-font-weight: 300 !default;
$headings-line-height: 1.15 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Font
$font-family-base: 'Open Sans', Arial, sans-serif !default;
$font-color-base: #000 !default;
$font-size-base-px: 16px !default;
$font-size-base: 1rem !default;
$font-weight-base: 400;
$font-weight-bold: 500;
$line-height-base: 1.5 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Links
$link-color: #2680eb !default;
$link-color-hover: #0d66d0 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid columns
$grid-gutter-width: 30px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Layout
$page-max-width: 1140px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Icon Font
$create-font-face: false !default;
$create-icon-classes: true !default;
$icon-prefix: 'icon-' !default;
$icon-public-path: '/assets/fonts/' !default;

// ---------------------------------------------------------------------------------------------------------------------
// Tobi
$tobi-lightbox-background: rgba(80, 80, 80, 0.95) !default;
$tobi-caption-background: rgba(255, 255, 255, 0.9) !default;
$tobi-caption-color: $font-color-base !default;