// ---------------------------------------------------------------------------------------------------------------------
// Header
$headings-font-weight: 500 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Font
$font-family-base: 'Candara', Arial, sans-serif !default;
$font-color-base: #505050 !default;
$font-size-base-px: 16px !default;
$font-weight-base: 400;
$font-weight-bold: 700;

// ---------------------------------------------------------------------------------------------------------------------
// Links
$link-color: $font-color-base !default;
$link-color-hover: #1d1d1d !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid columns
$grid-gutter-width: 20px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Layout
$page-max-width: 1120px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Tobi
$tobi-lightbox-background: rgba(80, 80, 80, 0.95) !default;
$tobi-caption-background: rgba(255, 255, 255, 0.9) !default;
$tobi-caption-color: $font-color-base !default;