// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../functions';
@import '../variables';
@import '../mixins';

// ---------------------------------------------------------------------------------------------------------------------
// Accordion
.accordion {
	& {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& > li {
		border-bottom: 1px solid var(--color__primary-light);
	}

	.accordion--header {
		button {
			& {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding: rem(15px 0);
				border: 0;
				background: transparent;
				font-size: var(--header-3__font-size);
				font-weight: var(--header-3__font-weight);
				text-align: left;
				color: var(--font__color-default);
				cursor: pointer;
			}

			&[aria-expanded=true] {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		svg {
			display: block;
			width: 19px;
			height: 11px;
			margin: 0 4px 0 0;
			transition: transform var(--transition__duration-default);
			fill: var(--font__color-default);
			flex-shrink: 0;
		}
	}

	.accordion--container {
		& {
			padding: rem(0 0 20px 0);
		}

		& > *:first-child {
			margin-top: 0;
		}
	}
}

