.button {
	& {
		display: inline-block;
		padding: rem(10px 45px);
		border: 0;
		border-radius: var(--border-radius--small);
		background: var(--color__primary);
		font-weight: var(--font__weight-bold);
		color: #fff;
		transition: background var(--transition__duration-default);
		cursor: pointer;
	}

	&:hover, .focusable &:focus {
		background: var(--color__secondary);
		text-decoration: none;
	}
}