// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../functions';
@import '../variables';
@import '../mixins';;

// ---------------------------------------------------------------------------------------------------------------------
// Collapse
.collapse {
	&:not(.show) {
		display: none;
	}
}

.collapsing {
	height: 0;
	overflow: hidden;
	transition: height var(--transition__duration-default) ease;
}