.readmore-container {
	.readmore-container--collapse {
		transition: max-height var(--transition__duration-default);
		overflow: hidden;
	}

	.readmore-container--toggle {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		height: rem(96px);
		transition-property: transform, height;
		transition-duration: var(--transition__duration-default);
		transform: scale(1);
	}

	&.readmore-container-open {
		.readmore-container--toggle {
			transform: scale(0);
			height: 0;
		}
	}

	&.readmore-container-opened {
		.readmore-container--collapse {
			overflow: visible;
			max-height: inherit;
		}

		.readmore-container--toggle {
			display: none;
		}
	}
}