// ---------------------------------------------------------------------------------------------------------------------
// Container
.container-outer {
  @extend %container-outer;
  @extend %container-width-normal;
  @extend %container-align-center;
}

.container-inner {
  @extend %container-inner;
}

// ---------------------------------------------------------------------------------------------------------------------
// Hauptbereiche
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: rem(83px 0 0 0);
}

#header {
	position: absolute;
	top: 0; left: 0;
	z-index: 10;
	width: 100%;
}

#content--header {
	background: #eaeaea;
}

#content--main {
	flex: 1;
}

#content--header, #content--main {
	& > .ce-frame--space-after-auto:last-child {
		@extend %container-space-after-medium;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Flash
#flash {
	& {
		@extend %container-class-2;
		@extend %container-space-before-small;
		@extend %container-space-after-small;

		position: relative;
		z-index: 20;
		margin-top: -3px;
	}

	.ce-header {
		font-weight: $font-weight-bold;
	}
}