// Lists

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
	& {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;
		padding: 0;
	}
}

@mixin list-default-ul {
	& {
		padding: 0;
	}

	li {
		& {
			position: relative;
			list-style: none;
			padding: rem(0 0 0 22px);
		}

		&:before {
			content: '';
			position: absolute;
			top: 12px; left: 3px;
			border: 3px solid var(--color__primary);
			border-radius: 1px;
		}
	}

	ul {
		margin-top: 0;
		padding: 0;
	}
}

@mixin list-default-ol {
	& {
		padding: rem(0 0 0 20px);
	}

	li {
		padding: rem(0 0 0 3px);
	}
}

@mixin list--check {
	li {
		content: svg-load('../Svg/Embed/close.svg', fill=#ff0000);
		padding: rem(0 0 0 20px);
	}

	li:before {
		border: 0;
		top: 6px;
		font-size: rem(9px);
	}
}