// ---------------------------------------------------------------------------------------------------------------------
// Header
@mixin header-1 {
	font-family: var(--header-1__font-family);
	font-size: var(--header-1__font-size);
	font-weight: var(--header-1__font-weight);
	line-height: var(--header__line-height);
}

@mixin header-2 {
	margin-top: var(--header-2__spacing-top);
	font-family: var(--header-2__font-family);
	font-size: var(--header-2__font-size);
	font-weight: var(--header-2__font-weight);
	line-height: var(--header__line-height);
}

@mixin header-3 {
	margin-top: var(--header-3__spacing-top);
	font-family: var(--header-3__font-family);
	font-size: var(--header-3__font-size);
	font-weight: var(--header-3__font-weight);
	line-height: var(--header__line-height);
}

@mixin header-4 {
	margin-top: var(--header-4__spacing-top);
	font-family: var(--header-4__font-family);
	font-size: var(--header-4__font-size);
	font-weight: var(--header-4__font-weight);
	line-height: var(--header__line-height);
}

// ---------------------------------------------------------------------------------------------------------------------
// Body
@mixin body {
	font-family: var(--font__family-default);
	font-size: var(--font__size-default);
	font-weight: var(--font__weight-default);
	line-height: var(--font__line-height-default);
	color: var(--font__color-default);
	text-align: left;
}

@mixin bodytext {
	h1 {
		@include header-1;
	}

	h2 {
		@include header-2;
	}

	h3 {
		@include header-3;
	}

	h4 {
		@include header-4;
	}

	h1, h2, h3, h4 {
		& + p, & + ul, & + ol, & + dl, & + table {
			margin-top: var(--html-element__spacing-header);
		}
	}

	p, ul, ol, dl, table {
		margin-top: var(--html-element__spacing-default);
	}

	b, strong {
		font-weight: var(--font__weight-bold);
	}

	a {
		& {
			font-weight: var(--font__weight-bold);
			color: var(--link__color);
			text-decoration: none;
			transition: color var(--transition__duration-default);
		}

		&:hover, &:focus {
			color: var(--link__color-active);
			text-decoration: underline;
		}
	}
}