.bicycle-item {
	img {
		max-width: 100%;
		height: auto;
		transition: transform 0.25s;
	}

	.bicycle-item--image {
		border-radius: 8px;
		overflow: hidden;
	}

	.bicycle-item--title {
		margin: rem(15px 0 0 0);
		padding: 0 8px;
		font-size: rem(20px);
		font-weight: $font-weight-bold;
		color: #00beee;
		transition: color 0.25s;
	}

	.bicycle-item--brand {
		margin: rem(1px 0 0 0);
		padding: 0 8px;
	}

	&:hover {
		& {
			cursor: pointer;
		}

		img {
			transform: scale(1.05);
		}

		.bicycle-item--title {
			color: $link-color-hover;
		}
	}
}

.bicycle-listing {
	.bicycle-item {
		margin: rem(45px 0 0 0);
	}
}

.bicycle-modal {
	img {
		max-width: 100%;
		height: auto;
	}

	.modal--backdrop {
		padding: 0.1px rem(10px);
	}

	.modal--close {
		& {
			padding: 10px;
			background: transparent;
			border: 0;
			outline: 0;
		}

		svg {
			position: relative;
			z-index: -1;
			width: 60px;
			float: right;
		}
	}

	.modal {
		overflow: hidden;
		border-radius: 8px;
		background: #fff;
	}

	.bicycle-modal--image {
		& {
			@include slider--variant-0;
			padding-top: 60%;
			background: #ccc;
		}

		.slider {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.bicycle-modal--header, .bicycle-modal--properties, .bicycle-modal--price {
		padding: 0.1px rem(10px);
	}

	.bicycle-modal--header {
		margin: rem(20px 0 35px 0);
	}

	.bicycle-modal--title {
		font-size: rem(24px);
		color: $theme-color-primary;
	}

	.bicycle-modal--request-action {
		& {
			@include iconfont(arrow-right);
			position: relative;
			display: inline-block;
			margin: rem(30px 0 0 0);
			padding: rem(14px 75px 14px 43px);
			border-radius: 4px;
			background: $link-color;
			color: #fff;
			transition: background 0.25s;
		}

		&:before {
			position: absolute;
			top: 16px; right: 35px;
			font-size: rem(13px);
			transform: translate(0, 0);
			transition: transform 0.25s;
		}

		&:hover {
			& {
				background: #09acd5;
			}

			&:before {
				transform: translate(10px, 0);
			}
		}
	}

	.bicycle-modal--price {
		margin: rem(5px 0 35px 0);
		padding-top: rem(20px);
		border-top: 1px solid #e9e9e9;
	}

	.bicycle-modal--price-value {
		font-size: rem(20px);
	}

	.bicycle-modal--properties {
		margin: rem(0 0 65px 0);
		padding-top: rem(5px);
		border-top: 1px solid #e9e9e9;
	}

	.bicycle-modal--property-title {
		margin-top: rem(15px);
		font-weight: $font-weight-bold;
	}

	.bicycle-modal--property-value {
		p {
			margin-top: 0;
		}
	}

	.bicycle-modal--property-value-manufacturer-guarantee {
		& {
			@include iconfont(check);
		}

		&:before {
			margin: rem(0 8px 0 0);
			font-size: rem(18px);
			color: #00beee;
		}
	}
}

.bicycle-request {
	.bicycle-request--section {
		margin: rem(60px 0 0 0);
	}

	.bicycle-request--section-header {
		font-size: rem(20px);
	}

	.bicycle-request--title {
		margin: rem(20px 0 0 0);
		font-size: rem(24px);
		color: $theme-color-primary;
	}

	.bicycle-request--properties {
		display: flex;
		flex-wrap: wrap;
	}

	.bicycle-request--property {
		margin: rem(15px 45px 0 0);
	}

	.bicycle-request--property-title {
		font-size: rem(16px);
	}

	.ce-frame {
		& {
			padding-left: 0;
			padding-right: 0;
		}

		& > .ce-frame--inner {
			margin-top: 0;
		}
	}

	form {
		& {
			margin: rem(20px 0 0 0);
		}

		h2 {
			display: none;
		}

		.form-group {
			margin: rem(20px 0 0 0);
		}

		.control-label {
			font-size: rem(16px);
			font-weight: $font-weight-normal;
		}

		.form-control {
			& {
				width: 100%;
				max-width: rem(520px);
				margin: rem(3px 0 0 0);
				padding: rem(10px 8px);
				border: 0;
				border-radius: 4px;
				background: #e9e9e9;
			}

			&:focus {
				outline: 0;
				background: #d9d9d9;
				color: #000;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.bicycle-modal {
		.modal--backdrop {
			padding-left: rem(20px);
			padding-right: rem(20px);
		}

		.modal--close {
			& {
				right: 5px;
			}

			svg {
				width: 80px;
			}
		}

		.modal {
			margin-top: rem(180px);
		}

		.bicycle-modal--header, .bicycle-modal--properties, .bicycle-modal--price {
			padding-left: rem(20px);
			padding-right: rem(20px);
		}

		.bicycle-modal--header {
			margin-top: rem(30px);
		}

		.bicycle-modal--title {
			font-size: rem(30px);
		}

		.bicycle-modal--price-value {
			font-size: rem(24px);
		}

		.bicycle-modal--properties {
			padding-top: rem(10px);
		}

		.bicycle-modal--property-value {
			margin-top: rem(15px);
		}
	}
}

@include media-breakpoint-up(md) {
	.bicycle-listing {
		.bicycle-item {
			margin: rem(60px 0 0 0);
		}
	}

	.bicycle-modal {
		.bicycle-modal--request-action {
			float: right;
			margin-top: rem(10px);
		}
	}
}