.contact-item {
	& {
		margin: $spacing-default 0 0 0;
		padding: rem(10px 15px);
		background: #fff;
	}

	.address--name + .address--item {
		margin: $spacing-default 0 0 0;
	}

	.contact-item--vcard {
		& {
			margin: rem(10px 0 0 0);
		}

		&:hover {
			.badge {
				background: #aaa;
			}
		}

		.badge {
			margin-right: rem(8px);
			transition: background 0.25s;
		}
	}
}

.contact-search--result {
	& {
		overflow: hidden;
		max-height: 0;
		opacity: 1;
		transition-property: max-height, opacity;
		transition-duration: 0.25s;
	}
}

.is-contact-loading {
	.contact-search--result {
		opacity: 0;
	}
}