// ---------------------------------------------------------------------------------------------------------------------
// Standard-Elemente
.ce-header--layout-1 {
	h2, h3 {
		@include header-1;
	}
}

.ce-header--layout-2 {
	h1, h3 {
		@include header-2;
	}
}

.ce-header--layout-3 {
	h1, h2 {
		@include header-3;
	}
}

.ce-header--layout-2, .ce-header--layout-3 {
	& + p, & + ul, & + ol, & + table {
		margin-top: $spacing-small;
	}
}

.ce-bodytext, .ce-container {
}

// ---------------------------------------------------------------------------------------------------------------------
// TYPO3 Bildelement
.ce-textpic {
	.ce-gallery {
		margin-top: 0;
	}
}

.image-embed-item {
	max-width: 100%;
	height: auto;
}