.ce-block-image-text {
	.ce-header {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}

	.ce-image--container {
		& {
			margin-top: rem(30px);
			display: none;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.ce-textpic.ce-intext {
	&.ce-right {
		.image {
			width: max-content;
			margin: rem(5px) auto;
		}
	}
}

.ce-block-image-text--right {
	.ce-image--container {
		text-align: right;
	}
}

@include media-breakpoint-up(sm) {
	.ce-textpic.ce-intext {
		&.ce-right {
			.ce-gallery {
				float: right;
			}

			.image {
				margin: rem(5px) 0 rem(30px) rem(30px);
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.ce-block-image-text {
		.ce-image--container {
			display: block;
		}

		.ce-bodytext {
			padding: 0 rem(30px) 0 0;
		}
	}
}