.ce-media-wall {
	& {
		overflow: hidden;
	}

	.media-wall--container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 2px;
	}

	.media-wall--item {
		& {
			position: relative;
			background: #ccc;
			cursor: pointer;
		}

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		&:nth-child(1) {
			background: #bbb;
			grid-area: 1 / 1 / span 2 / span 2;
		}

		&:nth-child(6) {
			background: #bbb;
			grid-area: 2 / 4 / span 2 / span 2;
		}

		&:nth-child(10) {
			background: #bbb;
			grid-area: 4 / 2 / span 2 / span 2;
		}

		picture {
			position: absolute;
			z-index: 5;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
		}

		source, img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}

	.media-wall--item-image, .media-wall--item-video {
		img:before, source:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 10;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			background: #444;
			opacity: 0;
			transition: opacity 0.25s;
		}

		&:hover {
			img:before, source:before {
				opacity: 0.35;
			}
		}
	}

	.media-wall--item-image {
		picture:before, picture:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 15;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 27px 27px;
			opacity: 0;
			transform: translate(0, 0);
			transition: all 0.25s;
		}

		picture:before {
			background-image: url('/assets/svg/zoom-up.svg');
		}

		picture:after {
			background-image: url('/assets/svg/zoom-down.svg');
		}

		&:hover {
			picture:before {
				opacity: 1;
				transform: translate(2%, -2%);
			}

			picture:after {
				opacity: 1;
				transform: translate(-2%, 2%);
			}
		}
	}

	.media-wall--item-video {
		& {
			overflow: hidden;
		}

		picture:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 15;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('/assets/svg/play.svg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 46px 29px;
			transform: translate(0, 0);
			transition: all 0.25s;
		}

		&:hover {
			picture:before {
				transform: scale(1.25);
			}
		}
	}

	.media-wall--content {
		display: none;
	}
}

@include media-breakpoint-up(sm) {
	.ce-media-wall {
		.media-wall--item-video {
			&:nth-child(1), &:nth-child(6), &:nth-child(10) {
				picture:before {
					background-size: 75px 48px;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.ce-media-wall {
		.media-wall--container {
			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		.media-wall--item {
			&:nth-child(1), &:nth-child(6) {
				grid-area: inherit;
			}

			&:nth-child(5) {
				grid-area: 1 / 5 / span 2 / span 2;
			}

			&:nth-child(10) {
				grid-area: 2 / 2 / span 2 / span 2;
			}

			&:nth-child(14) {
				grid-area: 2 / 8 / span 2 / span 2;
			}
		}

		.media-wall--item-video {
			&, &:nth-child(1), &:nth-child(6) {
				picture:before {
					background-size: 56px 36px;
				}
			}

			&:nth-child(5), &:nth-child(10), &:nth-child(14) {
				picture:before {
					background-image: url('/assets/svg/play-large.svg');
					background-size: 93px 59px;
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.ce-media-wall {
		.media-wall--item-image {
			picture:before, picture:after {
				background-size: 49px 49px;
			}
		}

		.media-wall--item-video {
			&:nth-child(5), &:nth-child(10), &:nth-child(14) {
				picture:before {
					background-size: 124px 79px;
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ce-media-wall {
		.media-wall--container {
			display: flex;
			//flex-direction: row;
			flex-wrap: wrap;
			//flex-direction:column;
		}

		.media-wall--item {
			width: 14.28571%;
		}
	}
}