// ---------------------------------------------------------------------------------------------------------------------
// Flash
#flash {
	& {
		position: relative;
		z-index: 5;
		padding-top: 0.1px;
		padding-bottom: 0.1px;
		background: var(--color__gray-light);
	}

	.ce-frame__inner {
		margin-top: var(--container-spacing__y--small);
		margin-bottom: var(--container-spacing__y--small);
	}

	.ce-header {
		font-weight: var(--font__weight-bold);
	}
}