<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<f:if condition="{link}">
		<f:then>
			<div class="card" data-uri-target="{link}">
				<f:render section="Inner" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<div class="card">
				<f:render section="Inner" arguments="{_all}" />
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="Inner">
	<div class="card--body">
		<f:if condition="{data.title}">
			<f:render section="Header" arguments="{title: data.title, link: link}" />
		</f:if>
	</div>
</f:section>

<f:section name="Header">
	<div class="card--header">
		<f:render section="Title" arguments="{title: title, link: link}" />
	</div>
</f:section>

<f:section name="Description">
	<div class="card--description"><f:format.html>{description}</f:format.html></div>
</f:section>

<f:section name="ReadMore">
	<a href="{link}" class="card--readmore">
		<span>{label}</span><xo:svg.use name="arrow-right" viewBox="0 0 14 11" />
	</a>
</f:section>

<f:section name="Title">
	<f:if condition="{link}">
		<f:then>
			<a href="{link}" class="card--title">
				<span>{title}</span><xo:svg.use name="arrow-right" viewBox="0 0 14 11" />
			</a>
		</f:then>
		<f:else>
			<div class="card--title">{title}</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="Media">
	<div class="card--media">
		<f:if condition="{media}">
			<f:render partial="Components/Media" section="Picture" arguments="{
				file: media,
				image: {
					width: settings.width,
					cropVariant: settings.cropVariant
				},
				sizes: settings.mediaQueries
			}" />
		</f:if>
	</div>
</f:section>

<f:section name="Badges">
	<f:if condition="{badges}">
		<ul class="card--badge-container">
			<f:for each="{badges}" as="badge">
				<li class="badge badge--default">{badge.title}</li>
			</f:for>
		</ul>
	</f:if>
</f:section>
</html>