<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<xo:css.inlineFile file="assets/css/xna-inline.css" />
<xo:js.inlineFile file="assets/js/xna-inline.js" />

<f:render partial="Page/SkipNavigation" section="Main" />


<div id="header" class="container-outer container-outer--width-normal">
	<div class="container-inner">
		<div class="logo--container">
			<svg class="logo--background" viewBox="0 0 447 431">
				<use xlink:href="#svg--polygon" />
			</svg>
			<f:render partial="Page/Logo" section="Svg" arguments="{_all}" />

			<f:if condition="{data.tx_xna_main_header_slogan} == 1">
				<f:then><h1 class="logo--slogan">Wenn`s um dein Radl geht</h1></f:then>
				<f:else><div class="logo--slogan">Wenn`s um dein Radl geht</div></f:else>
			</f:if>
		</div>

		<f:render partial="Page/Hamburger" section="Main" />

		<div id="sidebar" class="sidebar">
			<f:if condition="{navigationMain}">
				<nav class="navigation">
					<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationMain}" />
				</nav>
			</f:if>
		</div>
	</div>
</div>

<f:comment>
<!--
<div id="header" class="container-outer header--layout-0">
	<div class="container-inner">
		<f:render partial="Page/Logo" section="Svg" arguments="{_all}" />

		<div id="sidebar" class="sidebar">
			<f:if condition="{navigationMain}">
				<nav class="navigation">
					<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationMain}" />
				</nav>
			</f:if>
		</div>

		<f:render partial="Page/Search" section="Icon" />
		<f:render partial="Page/Hamburger" section="Main" />
	</div>
</div>
-->
</f:comment>

<f:if condition="{f:cObject(typoscriptObjectPath: 'block.contentHeader')}">
	<div id="content--header" role="main" class="ce-content">
		<f:render section="Header" />
	</div>
</f:if>

<div id="content--main" role="main" class="ce-content">
	<f:render section="Main" />
</div>

<div id="footer" class="container-outer container-outer--width-normal">
	<div class="container-inner">
		<f:render partial="Page/Copyright" section="Main" arguments="{_all}" />

		<nav class="navigation navigation-horizontal">
			<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationFooter}" />
		</nav>

		<div class="footer--background-container">
			<svg class="footer--background" viewBox="0 0 447 431">
				<use xlink:href="#svg--polygon" />
			</svg>
		</div>
	</div>
</div>

<div class="svg-sprite--container">
	<xo:svg.inline source="assets/svg/polygon.svg" />
</div>

<f:render partial="Page/FooterScript" section="Main" />
</html>