<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:render partial="Page/Header" section="Main" arguments="{_all}" />

	<f:if condition="{f:cObject(typoscriptObjectPath: 'block.contentHeader')}">
		<div id="content--header" role="main" class="ce-content">
			<f:render section="Header" />
		</div>
	</f:if>

	<div id="content--main" role="main" class="ce-content">
		<f:render section="Main" />
	</div>

	<f:if condition="{f:cObject(typoscriptObjectPath: 'block.contentProduct')}">
		<div id="content--product" class="ce-content">
			<f:render section="Product" />
		</div>
	</f:if>

	<f:if condition="{f:cObject(typoscriptObjectPath: 'block.contentFooter')}">
		<div id="content--footer" class="ce-content">
			<f:render section="Footer" />
		</div>
	</f:if>

	<f:render partial="Page/Footer" section="Main" arguments="{_all}" />
</html>