// ---------------------------------------------------------------------------------------------------------------------
// Variablen
:root {
	--page__offset-top: #{rem(80px)};

	--container-spacing__y--small: #{rem(20px)};
	--container-spacing__y--medium: #{rem(20px)};
	--container-spacing__y--large: #{rem(40px)};
	--container-spacing__x: #{rem(20px)};
	--container-spacing__indent--right: 0;

	--page__logo-width: #{rem(180px)};
	--page__logo-height: #{rem(16px)};
}

// ---------------------------------------------------------------------------------------------------------------------
// SVG Container
.svg-sprite--container {
	display: none;
}

// ---------------------------------------------------------------------------------------------------------------------
// Hauptbereiche
body {
	@include body;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header {
	position: absolute;
	top: 0;	left: 0;
	z-index: 100;
	width: 100%;
}

#content--main {
	flex: 1 auto; // IE 11 Fallback: auto
}

#content--header, #content--main {
	& > .ce-frame--space-after-auto:last-child {
		& {
			padding-bottom: 0.1px;
		}

		.ce-frame__inner {
			margin-bottom: var(--container-spacing__y--medium);
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Logo
.logo {
	& {
		display: block;
	}

	.logo__image {
		max-width: 100%;
		display: block;
	}

	.logo__image--image {
		height: auto;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Header
.page-header {
	& {
		padding-top: rem(10px);
		padding-bottom: rem(10px);
	}

	.container__inner {
		//display: grid;
		//grid-template-columns: auto 60px;
		//grid-gap: 10px;
		//align-items: center;
		padding: rem(20px 0);
		min-height: rem(20px);
	}

	.page-header__logo {
		& {
			max-width: var(--page__logo-width);
			max-height: var(--page__logo-height); // muss fuer den IE 11 der Anzeigehoehe entsprechen
		}

		.logo__image--svg {
			fill: var(--font__color-default);
		}

		&:hover .logo__image--svg {
			fill: var(--link__color);
		}
	}

	.hamburger {
		position: relative;
		left: 12px;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Page Layout Default
.page--layout-0 {
	#breadcrumb {
		position: absolute;
		top: rem(130px);
		left: 0; right: 0;
	}

	#header + .ce-content, #header + #breadcrumb + .ce-content {
		.container:first-child > .container__inner, .ce-frame--outer:first-child > .ce-frame__inner {
			padding-top: var(--page__offset-top); // Hoehe des Headers
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Container / Layout
.container {
	padding-left: var(--container-spacing__x);
	padding-right: var(--container-spacing__x);
}

.container__inner {
	max-width: var(--page__max-width);
	margin-left: auto;
	margin-right: auto;
}

// Container / Fluid Styled Content
.ce-frame--outer {
	padding-left: var(--container-spacing__x);
	padding-right: var(--container-spacing__x);
}

.ce-frame__inner {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

// Container / Fluid Styled Content / Laufweiten
.ce-frame--layout-0 .ce-frame__inner {
	max-width: var(--page__max-width);
}

.ce-frame--layout-1 .ce-frame__inner {
	max-width: var(--page__max-width);
	padding-right: var(--container-spacing__indent--right);
}

.ce-frame--layout-2 {
	padding-left: 0;
	padding-right: 0;
}

// Container / Fluid Styled Content / Abstaende
.ce-frame--space-before-small,
.ce-frame--space-before-medium,
.ce-frame--space-before-large {
	padding-top: 0.1px;
}

.ce-frame--space-after-small,
.ce-frame--space-after-medium,
.ce-frame--space-after-large {
	padding-bottom: 0.1px;
}

.ce-frame--space-before-small > .ce-frame__inner {
	margin-top: var(--container-spacing__y--small);
}

.ce-frame--space-before-medium > .ce-frame__inner {
	margin-top: var(--container-spacing__y--medium);
}

.ce-frame--space-before-large > .ce-frame__inner {
	margin-top: var(--container-spacing__y--large);
}

.ce-frame--space-after-small > .ce-frame__inner {
	margin-bottom: var(--container-spacing__y--small);
}

.ce-frame--space-after-medium > .ce-frame__inner {
	margin-bottom: var(--container-spacing__y--medium);
}

.ce-frame--space-after-large > .ce-frame__inner {
	margin-bottom: var(--container-spacing__y--large);
}

// Background
.ce-frame--background {
	position: relative;
}

.ce-frame__background {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-size: cover;
	z-index: -1;
}

.ce-frame__background--vertical-top {
	background-position-y: top;
}

.ce-frame__background--vertical-bottom {
	background-position-y: bottom;
}

.ce-frame__background--vertical-center {
	background-position-y: center;
}

.ce-frame__background--horizontal-left {
	background-position-x: left;
}

.ce-frame__background--horizontal-right {
	background-position-x: right;
}

.ce-frame__background--horizontal-center {
	background-position-x: center;
}

// Container / Fluid Styled Content / Farbschema
.ce-frame--class-1 {
	background: var(--color__primary-light);
}

.ce-frame--class-2 {
	--link__color: var(--color__gray-light);
	--link__color-active: #fff;

	& {
		background: var(--color__gray-dark);
		color: var(--color__gray-light);
	}

	.ce-header--layout-3 + .ce-bodytext {
		margin-top: #{rem(15px)};
	}

	.ce-bodytext {
		a {
			border-color: var(--color__gray);
		}
	}
}

// Varianten (nur Standard Elemente)
.ce-frame--variant-1 {
	& {
		text-align: center;
	}

	.ce-header {
		text-transform: uppercase;
	}

	.ce-bodytext {
		font-size: #{rem(20px)};
	}

	.link--cta {
		margin-top: #{rem(40px)};
	}
}

.ce-frame--variant-2 {
	--header-3__spacing-top: 0;
	--html-element__spacing-header: #{rem(20px)};

	& {
		padding-top: 0.1px;
		padding-bottom: 0.1px;
		border-radius: var(--border-radius--default);
	}

	.ce-frame__inner {
		padding: rem(30px 20px 45px 20px);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Standard-Elemente
.ce-header--layout-1 {
	h1, h2, h3, h4 {
		@include header-1;
	}
}

.ce-header--layout-2 {
	& {
		margin-top: var(--header-2__spacing-top);
	}

	h1, h2, h3, h4 {
		@include header-2;
	}
}

.ce-header--layout-3 {
	& {
		margin-top: var(--header-3__spacing-top);
	}

	h1, h2, h3, h4 {
		@include header-3;
	}
}

.ce-header--layout-4 {
	& {
		margin-top: var(--header-4__spacing-top);
	}

	h1, h2, h3, h4 {
		@include header-4;
	}
}

.ce-header--layout-1, .ce-header--layout-2, .ce-header--layout-3, .ce-header--layout-4 {
	h1, h2, h3, h4 {
		margin-top: 0;
	}

	& + .ce-bodytext {
		margin-top: var(--html-element__spacing-header);
	}
}

.ce-bodytext {
	& {
		@include bodytext;
	}

	& > *:first-child {
		margin-top: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// < 576px
@include media-breakpoint-down(sm) {
	.page-header {
		.off-canvas {
			display: none; // wird ueber die _layout.scss wieder eingeblendet
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	.page-header .hamburger {
		left: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	:root {
		--page__offset-top: #{rem(130px)};

		--container-spacing__y--medium: #{rem(40px)};
		--container-spacing__y--large: #{rem(80px)};
		--container-spacing__indent--right: percentage(3 / 12);

		--page__logo-width: #{rem(310px)};
		--page__logo-height: #{rem(27px)};
	}

	.page-header {
		.container-inner {
			position: relative;
			display: grid;
			grid-template-columns: 310px 1fr;
			grid-template-rows: 35px;
			gap: 5px var(--container-spacing__x);
			grid-template-areas:
				'logo off-canvas';
			padding: rem(35px 0);
		}

		.off-canvas {
			grid-area: off-canvas;

			display: grid;
			grid-template-columns: 1fr 20px 60px;
			grid-template-rows: 35px 60px;
			gap: 5px 20px;
			grid-template-areas:
				'meta-navigation language-navigation language-navigation'
				'main-navigation main-navigation search';
		}

		.logo {
			grid-area: logo;
			align-self: end;
			margin: 0 0 9px 0;
		}

		.search-widget--link {
			grid-area: search;
			display: flex;
			height: 100%;
			justify-content: flex-end;
		}

		.search-widget--field {
			display: none;
		}

		.language-navigation {
			& {
				grid-area: language-navigation;
			}

			ul {
				justify-content: flex-end;
			}
		}

		.main-navigation {
			grid-area: main-navigation;
			align-self: end;
		}

		.meta-navigation {
			& {
				grid-area: meta-navigation;
				@include navigation--layout-0;
			}

			ul {
				justify-content: flex-end;
			}
		}

		.hamburger {
			display: none;
		}

		.main-navigation {
			& {
				@include navigation--layout-2(false);
				padding-left: 10px;
			}

			.navigation-item--expandable svg {
				display: none;
			}

			.navigation--container-outer {
				display: none; // wird ueber die _layout.scss wieder eingeblendet
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 1200px
@include media-breakpoint-up(xl) {
	:root {
		--container-spacing__indent--right: #{rem(280px)};
	}
}