@mixin hero($height) {
	& {
		min-height: $height;
		padding-top: 0.1px;
		padding-bottom: 0.1px;
		background-color: #eaeaea;
		background-position: center center;
		background-size: cover;
		position: relative;
		z-index: 5;
		color: #fff;
	}

	.container-inner {
		margin-top: rem(60px);
	}

	.hero--title {
		& {
			margin: rem(35px) 0 0 0;
		}

		&, h1, h2, h3, h4, h5, h6 {
			font-size: rem(34px);
			font-weight: $headings-font-weight;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
	}

	.link--cta {
		& {
			border-color: #fff;
			color: #fff;

			transition: all 0.35s;
		}

		&:hover {
			background: #fff;
			color: $theme-color-primary;
		}
	}

	@include media-breakpoint-up(sm) {
		.link--cta {
			margin: rem(30px 0 0 0);
		}
	}

	@include media-breakpoint-up(md) {
		.hero--title {
			& {
				margin: rem(85px) 0 0 0;
			}

			&, h1, h2, h3, h4, h5, h6 {
				font-size: rem(40px);
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.hero--title {
			& {
				margin: rem(115px) 0 0 0;
			}

			&, h1, h2, h3, h4, h5, h6 {
				font-size: rem(60px);
			}
		}
	}
}