@mixin icon-text--variant-1() {
	.icon-text {
		& {
			display: flex;
		}

		& + .icon-text {
			margin: rem(30px 0 0 0);
		}
	}

	.icon-text--icon-container {
		width: rem(105px);
		min-width: rem(105px);
	}

	@include media-breakpoint-up(md) {
		.icon-text--container {
			margin-top: rem(-40px);
		}

		.icon-text--content {
			padding: rem(0 20px 0 0);
		}

		.icon-text {
			&, & + .icon-text {
				margin-top: rem(40px);
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.icon-text--content {
			padding: rem(0 30px 0 0);
		}
	}
}