@mixin navigation--layout-0 {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
}

@mixin navigation--layout-1 {
	ul, li {
		display: block;
	}
}

@mixin navigation--layout-2($render-children: false) {
	@include stylesheet-context($stylesheet-context-embed) {
		a {
			color: $font-color-base;
		}

		& > ul {
			& {
				display: flex;
				flex-wrap: wrap;
				margin-left: -10px;
				margin-right: -10px;
			}

			& > li > a {
				font-size: rem(20px);
			}

			@if $render-children {
				& > li:hover {
					.navigation--container-outer {
						display: block;
					}
				}
			}
		}

		// -----------------------------------------------------------------------------------------------------------------
		// >= 992px
		@include media-breakpoint-up(lg) {
			& > ul {
				& {
					margin-left: -20px;
					margin-right: -20px;
				}

				& > li {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}

		// -----------------------------------------------------------------------------------------------------------------
		// >= 1200px
		@include media-breakpoint-up(xl) {
			& > ul > li > a {
				font-size: rem(22px);
			}
		}
	}

	@if $render-children {
		.navigation--container-outer {
			position: absolute;
			top: 100px;
			left: 0;
			right: 0;
			display: none;
			padding-left: $spacing-medium;
			padding-right: $spacing-medium;
		}

		.navigation--container-background {
			position: absolute;
			top: 20px;
			bottom: 0;
			left: 0;
			right: 0;
			background: #f7f7f7;
			z-index: -1;
		}

		.navigation--container-inner {
			& {
				width: $page-max-width;
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding: rem(20px 0 0 0);
			}

			& > ul {
				& {
					display: flex;
					flex-wrap: wrap;
					width: calc(100% + 20px);
					margin-left: -10px;
					margin-right: -10px;
					padding: rem(0 0 20px 0);
				}

				& > li {
					& {
						width: percentage(6 / 12);
						margin: rem(20px 0 0 0);
					}

					& > a, & > span {
						font-size: rem(20px);
					}
				}
			}

			& > ul > li > ul {
				& > li {
					& > ul {
						margin-bottom: rem(20px);
					}

					&:last-child > ul {
						margin: 0;
					}
				}
			}

			& > ul > li > ul > li {
				a {
					font-weight: $font-weight-normal;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			.navigation--container-inner {
				& > ul > li {
					width: percentage(4 / 12);
				}
			}
		}
	}

	//& > ul > li:first-child > .navigation--container-outer {
	//	display: block;
	//	//background: red;
	//}
}

// Mobile Navigation mit Sub-Navigation
@mixin navigation--layout-4 {
	ul, li {
		display: block;
	}

	ul li {
		ul {
			position: absolute;
			top: 0; left: 0;
			z-index: 5;
			width: 100%;
			min-height: 100%;
			transform: translate(-100%, 0);
			padding: rem(14px 0 0 0);
			background: #fff;
			transition: transform 0.25s ease-out;
		}

		&[aria-expanded="true"] .navigation--container-inner > ul, &[aria-expanded="true"] > ul {
			transform: translate(0, 0);
		}
	}

	.navigation-item--expandable > a, .navigation-item--expandable > span {
		& {
			position: relative;
			padding-right: rem(50px);
		}

		svg {
			position: absolute;
			top: rem(15px); right: rem(24px);
			width: 17px;
			height: 19px;
			fill: $font-color-base;
		}
	}

	.navigation-item--backlink > span {
		& {
			position: relative;
			padding-left: rem(60px);
			background: #eaeaea;
			cursor: pointer;
		}

		svg {
			position: absolute;
			top: rem(15px); left: rem(21px);
			width: 17px;
			height: 19px;
			fill: $font-color-base;
		}
	}

	.navigation-item--parentlink > a {
		& {
			position: relative;
			margin: rem(30px 0 0 0);
			padding-right: rem(50px);
			border: 0;
		}

		svg {
			position: absolute;
			top: rem(15px); right: rem(28px);
			width: 17px;
			height: 19px;
			fill: $font-color-base;
		}
	}

	@include media-breakpoint-up(sm) {
		.navigation-item--expandable > a, .navigation-item--expandable > span {
			svg {
				right: rem(40px);
			}
		}

		.navigation-item--parentlink > a {
			svg {
				right: rem(42px);
			}
		}
	}
}