// ---------------------------------------------------------------------------------------------------------------------
// Hero Slider
//
// Hoehe muss mit der Componente Hero (xna/components/hero) abgeglichen werden
//
// benoetigt die Componenten:
//	- xna/components/slider
//	- xna/components/hero
//
// Code:
//	1: bis vollstaendigen initialisieren des Sliders nur das erste Element anzeigen
@mixin slider--variant-0() {
	& {
		position: relative;
		overflow: hidden; // 1
	}

	.slider--item + .slider--item {
		visibility: hidden; // 1
	}

	//.slider--controls {
	//	& {
	//		position: absolute;
	//		top: 0;
	//		width: 100%;
	//		// display: none; // erst auf hoehren Breakpoints anzeigen -> dann steht rechts / links mehr Platz zur Verfuegung
	//	}
	//
	//	.slider--controls-inner {
	//		position: relative;
	//	}
	//}

	.slider--prev, .slider--next {
		& {
			position: absolute;
			top: 0; bottom: 0;
			z-index: 10;
			display: flex;
			align-items: center;
			height: 100%;
		}

		button {
			& {
				width: 40px;
				height: 72px;
			}

			&:hover {
				svg {
					fill: $link-color;
				}
			}
		}

		svg {
			width: 18px;
			fill: #fff;
			transition: fill 0.35s;
		}
	}

	// Padding von .container-outer wieder aufheben
	.slider--prev {
		left: 0;
	}

	.slider--next {
		right: 0;
	}

	.slider--navigation {
		position: absolute;
		bottom: rem(10px);
		width: 100%;
	}

	.slider--initialized {
		.slider--item + .slider--item {
			visibility: visible;
		}
	}

	@include media-breakpoint-up(md) {
	.slider--prev, .slider--next {
			button {
				width: 45px;
				height: 120px;
			}

			svg {
				width: 30px;
			}
		}

		.slider--prev button {
			padding: 0 0 0 rem(15px);
		}

		.slider--next button {
			padding: 0 rem(15px) 0 0;
		}
	}

	//@include media-breakpoint-up(lg) {
	//	&, .slider--prev, .slider--next, .hero {
	//		//height: rem(600px);
	//	}
	//}
	//
	//@include media-breakpoint-up(xl) {
	//	.slider--controls {
	//		display: block;
	//	}
	//
	//	.slider--prev, .slider--next {
	//		button {
	//			width: rem(50px);
	//			height: 100px;
	//		}
	//	}
	//}
}