// ---------------------------------------------------------------------------------------------------------------------
// Header
@mixin header-1 {
	font-size: rem(40px);
	color: $theme-color-primary;

	@include media-breakpoint-up(md) {
		margin-top: rem(80px);
		font-size: rem(54px);
	}
}

@mixin header-2 {
	font-size: rem(34px);
	color: $theme-color-primary;

	@include media-breakpoint-up(md) {
		font-size: rem(40px);
	}
}

@mixin header-3 {
	font-size: rem(22px);
	font-weight: $font-weight-bold;

	@include media-breakpoint-up(md) {
		font-size: rem(24px);
	}
}