<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<div class="address">
			<f:if condition="{address.phone}">
				<a class="address--item address--phone link--phone" href="{xo:uri.phone(phone: address.phone)}">
					<span class="address--item-icon"><xo:svg.inline source="assets/svg/icon-phone.svg" /></span>
					<span class="address--item-text">{address.phone}</span>
				</a>
			</f:if>

			<f:if condition="{address.email}">
				<f:link.email class="address--item address--mail link--mail" email="{address.email}">
					<span class="address--item-icon"><xo:svg.inline source="assets/svg/icon-mail.svg" /></span>
					<span class="address--item-text">{address.email}</span>
				</f:link.email>
			</f:if>
		</div>
	</f:section>
</div>