<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{data.tx_xo_no_sticky} == 0">
			<f:render partial="Page/Sticky" section="Container" arguments="{_all}" />
		</f:if>

		<div id="footer" class="container-outer page-footer">
			<div class="container-inner">
				<f:render partial="Page/Copyright" section="Main" arguments="{_all}" />

				<f:if condition="{navigationFooter}">
					<nav class="navigation">
						<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationFooter}" />
					</nav>
				</f:if>

				<f:if condition="{providerData.0}">
					<f:render partial="Page/Contact" section="Main" arguments="{address: providerData.0}" />
				</f:if>
			</div>
		</div>

		<div class="svg-sprite--container">
			<xo:svg.inline source="assets/svg/sprite.svg" />
		</div>

		<f:render partial="Page/FooterScript" section="Main" />
	</f:section>
</div>