<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
		xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:section name="Main">
	<f:if condition="{newsItem.noDetail}">
		<f:then>
			<li class="card articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
				<n:excludeDisplayedNews newsItem="{newsItem}" />
				<f:render section="Variant{newsItem.layout -> xo:format.ucFirst()}" optional="1" arguments="{_all}" />
			</li>
		</f:then>
		<f:else>
			<li class="card articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" data-uri-target="{n:link(newsItem: newsItem, settings: settings, uriOnly: 1)}">
				<n:excludeDisplayedNews newsItem="{newsItem}" />
				<f:render section="Variant{newsItem.layout -> xo:format.ucFirst()}" optional="1" arguments="{_all}" />
			</li>
		</f:else>
	</f:if>
</f:section>

<f:section name="VariantDefault">
	<f:render section="Badge" arguments="{_all}" />
	<f:render section="Media" arguments="{_all}" />

	<div class="card--body">
		<f:render section="Date" arguments="{_all}" />
		<f:render section="Title" arguments="{_all}" />

		<f:if condition="{newsItem.teaser}">
			<f:render partial="Components/Card" section="Description" arguments="{description: '{newsItem.teaser -> f:format.crop(maxCharacters: \'{settings.cropMaxCharacters}\', respectWordBoundaries: 1)}'}" />
		</f:if>
	</div>
</f:section>

<f:section name="Badge">
	<f:if condition="{newsItem.firstCategory}">
		<ul class="card--badge-container">
			<li class="badge badge--default">{newsItem.firstCategory.title}</li>
		</ul>
	</f:if>
</f:section>

<f:section name="Media">
	<f:if condition="{newsItem.mediaPreviews}">
		<div class="card--media">
			<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
				<f:if condition="{mediaElement.originalResource.type} == 2 || {mediaElement.originalResource.type} == 5">
					<f:render partial="Components/Media" section="Picture" arguments="{
							file: mediaElement.originalResource,
							image: {
								width: settings.pictureSettings.card.width,
								cropVariant: 'default'
							},
							sizes: settings.pictureSettings.card.mediaQueries
						}" />
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 4">
					<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
				</f:if>
			</f:alias>
		</div>
	</f:if>
</f:section>

<f:section name="Date">
	<time class="card--date" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
		<f:format.date format="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo_date.format.date')}">{newsItem.datetime}</f:format.date>
	</time>
</f:section>

<f:section name="Title">
	<f:if condition="{newsItem.noDetail}">
		<f:then><f:render partial="Components/Card" section="Title" arguments="{title: newsItem.title, titleType: settings.titleType}" /></f:then>
		<f:else><f:render partial="Components/Card" section="Title" arguments="{title: newsItem.title, titleType: settings.titleType, link: '{n:link(newsItem: newsItem, settings: settings, uriOnly: 1)}'}" /></f:else>
	</f:if>
</f:section>

</html>
