#header {
	//margin: rem(10px 0);
}

// ---------------------------------------------------------------------------------------------------------------------
// Logo
.logo--container {
	position: relative;
	padding: rem(30px 0 0 0);
}

.logo--background {
	position: absolute;
	top: -185px;
	left: -102px;
	width: 280px;
	transform: rotate(55deg);
	fill: #009ee0;
}

#logo {
	& {
		position: relative;
		width: 220px;
		height: 96px;
	}

	.logo--bicycle {
		fill: #fff;
	}

	.logo--lettering {
		fill: #009ee0;
	}
}

@include media-breakpoint-up(md) {
	.logo--container {
		padding: rem(60px 0 0 0);
	}

	.logo--background {
		width: 500px;
		top: -338px;
		left: -215px;
	}

	#logo {
		width: 320px;
		height: 140px;
	}
}