<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:spaceless>
			<f:if condition="{media}">
				<xo:media.isImage file="{media}">
					<div class="hero hero--image">
						<f:render partial="Hero/Media" section="Image" arguments="{media: media, settings: settings.modules.ce_hero.image}" />
					</div>
				</xo:media.isImage>
			</f:if>
		</f:spaceless>
	</f:section>
</html>