// -------------------------------------------------------------------------------------------------------------------
// Component
.contact-item {
	& {
		margin: 0;
		padding: 0;
	}

	.contact-item--vcard,  {
		a {
			background-position: 34px 100%;
		}

		& .badge, &:hover .badge {
			background: $theme-color-primary-dark;
		}
	}
}

.contact-search--form {
	& > .row {
		margin-top: rem(20px);
	}

	.form-field {
		& {
			border: 3px solid $theme-color-primary-dark;
		}

		&[disabled] {
			border-color: $theme-color-primary-dark;
			background: $color-grey-lighten;
		}
	}

	select.form-field {
		min-height: rem(41px);
	}
}

.contact-search--submit {
	--button--rounded-icon-size: 60px;

	& {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: rem(45px);
		min-height: rem(65px);
	}

	button {
		& {
			position: relative;
			@extend %button--rounded-icon;
			@extend %button--rounded-icon--inverted;
			transform: rotate(90deg);

			transition-property: width, height;
			transition-duration: $transition-duration;
		}

		&:before {
			border: 3px solid $theme-color-primary-dark;
			transition-property: border, background;
		}

		svg {
			transition-property: fill, transform;
		}

		&:hover:not([disabled]), .focusable &:focus:not([disabled]) {
			&:before {
				border-color: #fff;
				background: $theme-color-primary-dark;
			}

			svg {
				//transform: translate(3px, 0);
			}
		}
	}
}

.contact-search--result-container {
	& {
		padding: rem(20px);
		border-radius: 5px;
		background: #fff;
		color: $theme-color-primary;
	}

	.is-contact-open & {
		margin-top: rem(45px);
	}

	a {
		.ce-frame--class-2 & {
			color: $theme-color-primary;
			background-image: linear-gradient(#{$theme-color-primary}, #{$theme-color-primary});
		}
	}
}

// => 768px
@include media-breakpoint-up(md) {
	.contact-search--submit {
		--button--rounded-icon-size: 70px;
	}
}

// => 992px
@include media-breakpoint-up(lg) {
	.contact-search--submit {
		& {
			margin-top: 0;
		}

		button {
			transform: rotate(0deg);
		}
	}

	.is-contact-open .contact-search--result-container {
		margin-top: 0;
	}
}