@if($ce-gallery--layout-slider) {

	// -------------------------------------------------------------------------------------------------------------------
	// CSS Variablen
	:root {
		--gallery--slider-height: 200px;
	}

	.ce-gallery--slider {
		.gallery--image {
			picture, img {
				width: auto;
				max-height: var(--gallery--slider-height);
			}
		}

		.slider {
			.slider--interface-container {
				@extend %container-width-normal;
				@extend %container-align-center;
				@extend %container-outer;
			}

			.slider--interface {
				@extend %container-inner;
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(sm) {

	@if($ce-gallery--layout-slider) {

		// -------------------------------------------------------------------------------------------------------------------
		// CSS Variablen
		:root {
			--gallery--slider-height: 400px;
		}
	}
}