// ---------------------------------------------------------------------------------------------------------------------
// Definitions
%slider-controls--inline {
	.slider--prev, .slider--next {
		button {
			width: 38px;
			height: 38px;
			background: $theme-color-primary;
			border-radius: 5px;
			transition: background 0.35s;
		}

		svg {
			width: 20px;
			height: 14px;
			fill: #fff;
			transition: transform $transition-duration;
		}

		&:hover, .focusable &:focus {
			button {
				background: $theme-color-third;
			}
		}
	}

	.slider--prev {
		&:hover, .focusable &:focus {
			svg {
				transform: translate(-3px, 0);
			}
		}
	}

	.slider--next {
		&:hover, .focusable &:focus {
			svg {
				transform: translate(3px, 0);
			}
		}
	}

	.slider--next {
		margin: rem(0 0 0 10px);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Gallery Slider
@if($ce-gallery--layout-slider) {

	// -------------------------------------------------------------------------------------------------------------------
	// CSS Variablen
	:root {
		--gallery--slider-height: 200px;
	}

	.ce-gallery--slider  {
		.slider--container > .slider--item {
			padding-right: $spacing-medium;
		}

		.gallery--image {
			picture, img {
				width: auto;
				max-height: var(--gallery--slider-height);
			}
		}

		.slider {
			.slider--interface-container {
				@extend %container-width-normal;
				@extend %container-align-center;
				@extend %container-outer;
			}

			.slider--interface {
				@extend %container-inner;
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(sm) {

	@if($ce-gallery--layout-slider) {

		// -------------------------------------------------------------------------------------------------------------------
		// CSS Variablen
		:root {
			--gallery--slider-height: 400px;
		}
	}
}