.ce-hero {
	&.ce-frame--variant-2 {
		%hero--title {
			& {
				margin-top: rem(60px);
			}

			&, h1, h2, h3, h4, h5, h6 {
				font-size: rem(40px);
			}
		}

		.ce-frame--inner {
			position: relative;
			min-height: rem(500px);
		}

		.hero--background {
			position: absolute;
			top: 0; left: -40px;
			z-index: -1;
			height: 100%;
			opacity: 0.75;
		}

		p {
			margin-top: rem(30px);
		}

		.ce-flash {
			& {
				margin-top: rem(50px);
				margin-left: rem(-15px);
				margin-right: rem(-15px);
				padding: rem(10px 20px 45px 20px);
				background: #1ba5a7;
				border-radius: 10px;
			}

			.ce-header {
				font-size: rem(22px);
				font-weight: $font-weight-base;
			}

			& > *:first-child {
				margin-top: rem(30px);
			}

			p {
				margin-top: rem(10px);
			}
		}
	}
}

// >= 768px
@include media-breakpoint-up(md) {
	.ce-hero {
		&.ce-frame--variant-2 {
			& {
				padding-right: 1.5rem;
			}

			.ce-frame--inner {
				min-height: 60vh;
				display: flex;
				align-items: flex-start;
			}

			%hero--title {
				& {
					margin-top: rem(120px);
				}

				&, h1, h2, h3, h4, h5, h6 {
					font-size: rem(54px);
				}
			}

			.hero--inner {
				width: 50%;
			}

			.ce-flash {
				& {
					width: 50%;
					max-width: rem(380px);
					float: none;
					margin-top: rem(75px);
					margin-left: auto;
					margin-right: 0;
					padding: rem(10px 30px 45px 30px);
				}

				& > *:first-child {
					margin-top: rem(40px);
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.ce-hero {
		&.ce-frame--variant-2 {
			.hero--background {
				left: -215px;
				opacity: 1;
			}
		}
	}
}