.ce-hero,
.ce-hero-container {
	&.ce-frame--variant-2 {
		%hero--title {
			& {
				margin-top: rem(60px);
			}

			&, h1, h2, h3, h4, h5, h6 {
				font-size: rem(40px);
			}
		}

		.ce-frame--inner {
			position: relative;
			min-height: rem(500px);
		}

		.hero--background {
			position: absolute;
			left: -40px;
			bottom: -2px;
			z-index: -1;
			height: 100%;
			opacity: 0.75;
		}

		p {
			margin-top: rem(30px);
		}

		.ce-flash {
			& {
				margin-top: rem(50px);
				margin-left: rem(-15px);
				margin-right: rem(-15px);
				padding: rem(10px 20px 45px 20px);
				background: $theme-color-third;
				border-radius: 10px;
			}

			.ce-header {
				margin-top: rem(30px);
				font-size: rem(22px);
				font-weight: $font-weight-base;
			}

			.ce-flash--categories {
				& {
					margin-top: rem(20px);
				}

				& + .ce-header {
					margin-top: rem(15px);
				}
			}

			p {
				margin-top: rem(10px);
			}
		}
	}

	&.ce-frame--variant-3 {
		.hero--inner {
			margin: rem(400px 0 0 0);
			padding: rem(20px 20px 35px 20px);
			border-radius: 10px;
		}

		.hero--title {
			margin-top: 0;
		}

		.hero--background {
			max-height: rem(535px);
		}

		&.ce-frame--class-2 {
			& {
				background: transparent;
			}

			.hero--inner {
				background: $theme-color-primary;
			}
		}
	}
}

// >= 768px
@include media-breakpoint-up(md) {
	.ce-hero,
	.ce-hero-container {
		&.ce-frame--variant-2 {
			& {
				padding-right: 1.5rem;
				z-index: 55;
			}

			.ce-frame--inner {
				min-height: 60vh;
				display: flex;
				align-items: flex-start;
			}

			%hero--title {
				& {
					margin-top: rem(120px);
				}

				&, h1, h2, h3, h4, h5, h6 {
					font-size: rem(54px);
				}
			}

			.hero--inner {
				width: 50%;
			}

			.ce-flash {
				& {
					width: 50%;
					max-width: rem(425px);
					float: none;
					margin-top: rem(75px);
					margin-left: auto;
					margin-right: 0;
					padding: rem(10px 30px 45px 30px);
				}

				.ce-header {
					margin-top: rem(40px);
				}
			}
		}

		&.ce-frame--variant-3 {
			.ce-frame--inner {
				min-height: rem(400px);
				display: flex;
				align-items: flex-end;
			}

			.hero--inner {
				max-width: rem(400px);
				margin: 0;
				padding: rem(20px 30px 35px 30px);
			}

			.hero--background {
				max-height: inherit;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.ce-hero {
		&.ce-frame--variant-0 {
			%hero--title {
				&, h1, h2, h3, h4, h5, h6 {
					font-size: rem(40px);
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.ce-hero {
		&.ce-frame--variant-0 {
			min-height: rem(680px);
		}
	}
}

@include media-breakpoint-up(xl) {
	.ce-hero,
	.ce-hero-container {
		&.ce-frame--variant-2 {
			.hero--background {
				left: -215px;
				opacity: 1;
			}
		}

		&.ce-frame--variant-3 {
			.hero--inner {
				margin-left: rem(-30px);
			}
		}
	}
}