.ce-header + .ce-hero, .ce-header + .ce-hero-slider {
	margin-top: rem(35px);
}

.hero--image {
	& {
		position: relative;
		padding-top: 56.25%;
	}

	img {
		@extend %image-responsive;
		position: absolute;
		top: 0; left: 0; right: 0;
	}
}

.ce-hero-slider {
	.slider {
		@extend %slider-navigation--dashed;
	}

	.slider--item {
		transition-duration: 2s !important;
	}

	.slider--navigation ul {
		justify-content: center;
	}
}

@include media-breakpoint-up(sm) {
	.ce-header + .ce-hero, .ce-header + .ce-hero-slider {
		margin-top: rem(45px);
	}
}