.icon-text {
	.icon-text--icon-container {
		& + .icon-text--title {
			margin: rem(15px 0 0 0);
		}
	}

	.icon-text--title {
		&, a, h1, h2, h3, h4, h5, h6 {
			font-size: $font-size-base;
		}
	}

	&[data-uri-target]:hover {
		&, a, h1, h2, h3, h4, h5, h6 {
			color: $theme-color-primary;
		}
	}
}

@if($ce-icon-text--layout-inline) {
	.ce-icon-text--inline {
		& {
			overflow: hidden;
		}

		.icon-text--container {
			margin-top: rem(-20px);
		}

		.icon-text {
			width: 50%;
			margin-top: rem(40px);
		}

		.icon-text--icon {
			& {
				width: 100%;
				height: rem(48px);
			}

			svg {
				max-height: 100%;
			}
		}

		.icon-text--icon-container {
			width: auto;
			height: rem(48px);
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 576px
@include media-breakpoint-up(sm) {
	@if($ce-icon-text--layout-inline) {
		.ce-icon-text--inline {
			.icon-text {
				width: auto;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.icon-text {
		.icon-text--icon-container {
			& + .icon-text--title {
				margin: rem(20px 0 0 0);
			}
		}

		.icon-text--title {
			&, a, h1, h2, h3, h4, h5, h6 {
				font-size: rem(20px);
			}
		}
	}

	@if($ce-icon-text--layout-inline) {
		.ce-icon-text--inline {
			.icon-text--container {
				margin-left: -20px;
				margin-right: -20px;
			}

			.icon-text {
				margin-top: rem(40px);
				padding-left: 20px;
				padding-right: 20px;
			}

			.icon-text--icon-container, .icon-text--icon {
				height: rem(64px);
			}
		}
	}
}