.ce-menu-pages {
	&.ce-frame--variant-1 {
		ul li + li {
			margin-top: rem(5px);
		}

		a {
			&:hover, .focusable &:focus {
				span:after {
					transform: translate(5px, 0);
					margin-left: rem(10px);
					padding-right: 0;
				}
			}
		}

		span {
			& {
				background: none !important; // Aufheben der Underline-Animation
			}

			&:after {
				content: iconfont-item(arrow-right);
				margin-left: rem(5px);
				padding-right: rem(5px);
				font-family: $font-family-icon;
				font-size: rem(12px);
				transition-property: margin, padding;
				transition-duration: $transition-duration;
			}
		}
	}
}