.taste {
	.taste--media {
		& {
			background-image: none;
		}

		img {
			@extend %image-responsive;
		}
	}
}

.taste--layout-aside {
	.taste--media {
		& {
			display: block;
			overflow: hidden;
		}

		img {
			transition: transform $transition-duration;
			transform: scale(1.0);
		}

		&:hover, .focusable &:focus {
			img {
				transform: scale(1.1);
			}
		}
	}

	.taste--title {
		&, h1, h2, h3, h4 {
			margin-top: rem(20px);
			font-weight: $font-weight-normal;
		}

		a {
			font-weight: $font-weight-normal;
		}
	}

	.taste--readmore {
		margin-top: rem(25px);
	}
}

.taste--layout-technology {
	.taste--title {
		&, h1, h2, h3, h4 {
			font-size: rem(23px);
		}

		a {
			color: $color-grey-darken;
		}

		strong {
			font-weight: normal;
			color: $theme-color-primary;
		}
	}
}

@include media-breakpoint-up(md) {
	.taste--layout-aside {
		.taste--title {
			&, h1, h2, h3, h4 {
				margin-top: rem(10px);
				font-size: rem(26px);
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.taste--layout-aside {
		.taste--title {
			&, h1, h2, h3, h4 {
				margin-top: rem(15px);
			}
		}
	}
}