#header {
  & {
    margin: rem(10px 0);
  }

  .container-inner {
    display: grid;
    grid-template-columns: 100px auto 60px 60px;
    grid-gap: 10px;
		align-items: center;
		min-height: 60px;
  }
}

#logo {
	& {
		display: block;
		//width: 100px;
	}

	svg {
		display: block;
	}
}

#logo, .navigation {
  display: block;
}

.header--search {
	& {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&:hover {
		background: #eaeaea;
	}

	svg {
		display: block;
		width: 32px;
		height: 32px;
	}
}