#header {
  & {
    margin: rem(10px 0);
  }

  .container-inner {
    display: grid;
    grid-template-columns: 100px auto 100px 50px;
    grid-gap: 10px;
		align-items: center;
  }
}

#logo {
	& {
		display: block;
		//width: 100px;
	}

	svg {
		display: block;
	}
}

#logo, .navigation {
  display: block;
  background: gold;
}