// ---------------------------------------------------------------------------------------------------------------------
// Hauptbereiche
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header {
	position: absolute;
	top: 0;	left: 0;
	z-index: 10;
	width: 100%;
}

#content--main {
	flex: 1 auto; // IE 11 Fallback: auto
}

#content--header, #content--main {
	& > .ce-frame--space-after-auto:last-child {
		@extend %container-space-after-medium;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Layouts
.page--layout-0 {
	// @todo: hier auf das erste Content Element gehen und dann per Margin
	#header + .ce-content .container-inner {
		padding-top: rem(80px); // Hoehe des Headers
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Seiten Elemente

// ---------------------------------------------------------------------------------------------------------------------
// Flash
#flash {
	& {
		@extend %container-class-1;
		@extend %container-space-before-small;
		@extend %container-space-after-small;

		position: relative;
		z-index: 5;
	}

	.ce-header {
		font-weight: $font-weight-bold;
	}
}