@include stylesheet-context($stylesheet-context-embed) {
	.sticky--container {
		position: fixed;
		top: 200px; right: 0;
	}

	.sticky--element {
		position: relative;
	}

	.sticky--icon {
		& {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 80px;
			padding: 0;
			border: 0;
			background: #f7f7f7;
			cursor: pointer;
		}

		&:hover {
			background: #bbb;
		}

		svg {
			width: 43px;
			height: 43px;
			fill: $font-color-base;
		}
	}

	.sticky--off-canvas {
		position: absolute;
		top: 0; right: 0;
		background: #fff;
		background: gold;
		width: 300px;
		transform: translate(300px, 0);
	}
}
