.c-icon-text {
	.c-icon-text--icon-container {
		width: 30px;
		height: 30px;
	}

	.c-icon-text--title {
		& {
			margin: rem(10px 0 0 0);
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			font-size: rem(20px);
		}
	}

	.c-icon-text--body {
		& {
			margin: rem(10px 0 0 0);
		}

		p, ul {
			margin: rem(5px 0 0 0);
		}
	}
}