.header--layout-0 {
	& {
		padding-top: rem(10px);
		padding-bottom: rem(10px);
		border-bottom: 3px solid $theme-color-primary;
	}

	.container-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 140px 1fr;
		grid-template-columns: 1fr 140px 1fr;
		grid-gap: 10px;
		align-items: center;
		min-height: rem(52px);
	}

	.logo--container {
		position: relative;
		align-self: start;
		-ms-grid-column: 2;
	}

	.logo {
		& {
			@extend %logo;

			position: absolute;
			top: rem(-10px);
			width: 100%;
			height: rem(100px);
			display: flex;
			align-items: center;
			justify-content: center;
			background: $theme-color-primary;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			//max-width: 100px;
			//max-height: rem(60px); // muss fuer den IE 11 der Anzeigehoehe entsprechen
			transition: background 0.35s;
		}

		&:hover {
			background: $theme-color-primary-active;
		}

		svg {
			width: rem(68px);
			fill: #fff;
		}
	}

	.hamburger {
		-ms-grid-column: 1;
		text-align: left;
	}

	.address {
		& {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			-ms-grid-column: 3;
		}

		.address--item {
			& {
				display: flex;
				align-items: center;
			}

			& + .address--item {
				margin: 0 0 0 rem(15px);
			}
		}

		.address--item-icon {
			& {
				display: flex;
				justify-content: center;
				width: rem(37px);
				height: rem(37px);
				background: $theme-color-primary;
				border-radius: 50%;

				transition: background 0.25s;
			}

			&:hover {
				background: $theme-color-hover;
			}

			svg {
				width: rem(21px);
			}
		}

		.address--item-text {
			display: none;
			transition: color 0.25s;
		}
	}
}

@include media-breakpoint-up(sm) {
	.header--layout-0 {
		.container-inner {
			-ms-grid-columns: 1fr 180px 1fr;
			grid-template-columns: 1fr 180px 1fr;
		}

		.logo svg {
			width: rem(78px);
		}
	}
}

@include media-breakpoint-down(sm) {
	#header.header--layout-0 {
		.sidebar {
			transform: translate(-100%, 0);
			position: fixed;
			top: rem(75px); bottom: 0;
			left: 0;
			width: 100%;
			background: $theme-color-primary;
			opacity: 1;
			transition-property: opacity, transform;
			transition-timing-function: ease-out;
			transition-duration: 0.25s;
		}

		.navigation {
			& {
				@include navigation--layout-1();
				padding: rem(55px) 0 0 0;
			}

			li {
				& {
					border-top: 1px solid #97c8cf;
				}

				&:first-child {
					border: 0;
				}
			}

			a, .current > span {
				padding: rem(12px) $spacing-medium;
				color: #fff
			}

			a:hover {
				color: $theme-color-hover;
				text-decoration: none;
			}
		}

		.is--sidebar-active & {
			& {
				position: fixed;
				z-index: 25;
				background: #fff;
			}

			.sidebar {
				transform: translate(0, 0);
			}
		}

		.is--sidebar-closing & {
			.sidebar {
				opacity: 0;
			}
		}
	}

	.is--sidebar-closing {
		position: static;
	}
}

@include media-breakpoint-up(md) {
	.header--layout-0 {
		.sidebar {
			display: block;
			-ms-grid-column: 1;
		}

		.hamburger {
			display: none;
		}

		.navigation {
			& {
				@include navigation--layout-0;
				font-size: rem(18px);
			}

			a, .current > span {
				color: $font-color-base;
				padding-top: rem(13px);
				padding-bottom: rem(13px);
			}

			a:hover {
				color: $theme-color-hover;
				text-decoration: none;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.header--layout-0 {
		.container-inner {
			-ms-grid-columns: 1fr 240px 1fr;
			grid-template-columns: 1fr 240px 1fr;
			min-height: rem(83px);
		}

		.navigation {
			& {
				font-size: rem(22px);
			}

			ul {
				margin-left: -15px;
				margin-right: -15px;
			}

			a, .current > span {
				padding: rem(20px 15px);
			}
		}

		.logo {
			& {
				height: rem(142px);
			}

			svg {
				width: rem(108px);
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.header--layout-0 {
		.address {
			.address--item {
				& + .address--item {
					margin: 0 0 0 rem(30px);
				}

				&:hover {
					& {
						text-decoration: none;
					}

					.address--item-icon {
						background: $theme-color-hover;
					}

					.address--item-text {
						color: $theme-color-hover;
						text-decoration: none;
					}
				}
			}

			.address--item-text {
				display: block;
				margin: rem(0 0 0 8px);
				font-size: rem(15px);
				color: $font-color-base;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.header--layout-0 {
		.container-inner {
			display: -ms-grid;
			height: rem(83px);
			min-height: 0;
		}

		// Vertical-Align: Middle for IE 11
		.navigation {
			& {
				height: 100%;
				padding-left: 20px;
			}

			ul {
				height: 100%;
				align-items: center;
			}
		}
	}
}