.header--layout-0 {
	& {
		padding-top: rem(10px);
		padding-bottom: rem(10px);
	}

	.container-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 60px 60px;
		grid-template-columns: auto 60px 60px;
		grid-gap: 10px;
		align-items: center;
		min-height: rem(60px);
	}

	.logo {
		& {
			@extend %logo;
			max-width: 100px;
			max-height: rem(60px); // muss fuer den IE 11 der Anzeigehoehe entsprechen
			-ms-grid-column: 1;
		}

		&:hover svg {
			fill: $link-color-hover;
		}
	}

	.search {
		& {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			-ms-grid-column: 3;
		}

		&:hover svg {
			fill: $link-color-hover;
		}

		svg {
			display: block;
			width: 25px;
			height: 25px;
		}
	}

	.hamburger {
		-ms-grid-column: 2;
	}
}

@include media-breakpoint-down(sm) {
	#header.header--layout-0 {
		.sidebar {
			transform: translate(-100%, 0);
			position: fixed;
			top: rem(80px); bottom: 0;
			left: 0;
			width: 100%;
			background: #fff;
			opacity: 1;
			transition-property: opacity, transform;
			transition-timing-function: ease-out;
			transition-duration: 0.25s;
		}

		.navigation {
			& {
				@include navigation--layout-4();
				padding: $spacing-medium 0 0 0;
			}

			li {
				& {
					border-top: 1px solid #eaeaea;
				}

				&:first-child {
					border: 0;
				}
			}

			a, .current > span {
				padding: 3px $spacing-medium;
			}

			a:hover {
				text-decoration: none;
			}
		}

		.is--sidebar-active & {
			& {
				position: fixed;
				z-index: 25;
				background: #fff;
			}

			.sidebar {
				transform: translate(0, 0);
			}
		}

		.is--sidebar-closing & {
			.sidebar {
				opacity: 0;
			}
		}
	}

	.is--sidebar-closing {
		position: static;
	}
}

@include media-breakpoint-up(md) {
	.header--layout-0 {
		.container-inner {
			-ms-grid-columns: 100px 1fr 60px;
			grid-template-columns: 100px auto 60px;
		}

		.sidebar {
			display: block;
			-ms-grid-column: 2;
		}

		.search {
			-ms-grid-column: 3;
		}

		.hamburger {
			display: none;
		}

		.navigation {
			& {
				@include navigation--layout-2;
				padding-left: 10px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.header--layout-0 {
		.container-inner {
			display: -ms-grid;
		}

		// Vertical-Align: Middle for IE 11
		.navigation {
			& {
				height: 100%;
				padding-left: 20px;
			}

			ul {
				height: 100%;
				align-items: center;
			}
		}
	}
}