.header--layout-0 {
	& {
		padding-top: rem(10px);
		padding-bottom: rem(10px);
		border-bottom: 3px solid $theme-color-primary;
	}

	.container-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 140px 1fr;
		grid-template-columns: 1fr 140px 1fr;
		grid-gap: 10px;
		min-height: rem(52px);
	}

	.logo--container {
		position: relative;
	}

	.logo {
		& {
			@extend %logo;

			position: absolute;
			top: rem(-10px);
			width: 100%;
			height: rem(100px);
			display: flex;
			align-items: center;
			justify-content: center;
			background: $theme-color-primary;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			//max-width: 100px;
			//max-height: rem(60px); // muss fuer den IE 11 der Anzeigehoehe entsprechen
			-ms-grid-column: 1;
		}

		svg {
			width: rem(68px);
			fill: #fff;
		}

		&:hover svg {
			fill: $link-color-hover;
		}
	}

	.hamburger {
		-ms-grid-column: 2;
		text-align: left;
	}

	.address {
		& {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.address--item {
			& {
				display: flex;
				align-items: center;
			}

			& + .address--item {
				margin: 0 0 0 rem(15px);
			}
		}

		.address--item-icon {
			& {
				display: flex;
				justify-content: center;
				width: rem(37px);
				height: rem(37px);
				background: $theme-color-primary;
				border-radius: 50%;
			}

			&:hover {
				background: $theme-color-primary-active;
			}

			svg {
				width: rem(21px);
			}
		}

		.address--item-text {
			display: none;
		}
	}
}

@include media-breakpoint-up(sm) {
	.header--layout-0 {
		.container-inner {
			-ms-grid-columns: 1fr 180px 1fr;
			grid-template-columns: 1fr 180px 1fr;
		}

		.logo svg {
			width: rem(78px);
		}
	}
}

@include media-breakpoint-down(sm) {
	#header.header--layout-0 {
		.sidebar {
			transform: translate(-100%, 0);
			position: fixed;
			top: rem(75px); bottom: 0;
			left: 0;
			width: 100%;
			background: $theme-color-primary;
		}

		.navigation {
			& {
				@include navigation--layout-1();
				padding: rem(55px) 0 0 0;
			}

			li {
				& {
					border-top: 1px solid #97c8cf;
				}

				&:first-child {
					border: 0;
				}
			}

			a, .current > span {
				padding: rem(12px) $spacing-medium;
				color: #fff
			}

			a:hover {
				color: $theme-color-secondary;
				text-decoration: none;
			}
		}

		.is--sidebar-active & {
			& {
				position: fixed;
				z-index: 25;
				background: #fff;
			}

			.sidebar {
				transform: translate(0, 0);
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.header--layout-0 {
		.container-inner {
			-ms-grid-columns: 100px 1fr 60px;
			grid-template-columns: 1fr 140px 1fr;
			align-items: center;
			min-height: rem(80px);
		}

		.sidebar {
			display: block;
			-ms-grid-column: 2;
		}

		.search {
			-ms-grid-column: 3;
		}

		.hamburger {
			display: none;
		}

		.navigation {
			& {
				@include navigation--layout-0;
				padding-left: 10px;
			}

			ul ul {
				display: none;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// IE10 / 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.header--layout-0 {
		.container-inner {
			display: -ms-grid;
		}

		// Vertical-Align: Middle for IE 11
		.navigation {
			& {
				height: 100%;
				padding-left: 20px;
			}

			ul {
				height: 100%;
				align-items: center;
			}
		}
	}
}