// ---------------------------------------------------------------------------------------------------------------------
// Einsatzzweck (Embed, Import, Print)
$stylesheet-context: 'import' !default;
$stylesheet-context--embed: 'embed' !default;
$stylesheet-context--import: 'import' !default;

// ---------------------------------------------------------------------------------------------------------------------
// Breakpoints
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

// ---------------------------------------------------------------------------------------------------------------------
// Default Font-Size (fuer REM-Berechnung)
$font__size-default: 16px;

//// ---------------------------------------------------------------------------------------------------------------------
//// Tobi
//$tobi-zoom-icon-background: rgba(26, 42, 58, 0.94) !default;
//$tobi-zoom-icon-color: #fff !default;
//$tobi-lightbox-background: rgba(80, 80, 80, 0.95) !default;
//$tobi-caption-background: rgba(255, 255, 255, 0.9) !default;
//$tobi-caption-color: $font-color-base !default;
//$tobi-counter-background: transparent !default;
//$tobi-counter-color: #fff !default;
//$tobi-button-background: transparent !default;
//$tobi-button-color: #fff !default;
//$tobi-loader-color: #fff !default;
//$tobi-slide-max-height: 85vh !default;
//$tobi-slide-max-width: 85vw !default;
//
//// ---------------------------------------------------------------------------------------------------------------------
//// Fluid Styled Content
//$fsc-textmedia-border-width: 1px !default;
//$fsc-textmedia-border-color: $font-color-base !default;
//$fsc-textmedia-margin: rem(20px) !default;
//$fsc-row-spacing: rem(20px) !default;


// ---------------------------------------------------------------------------------------------------------------------
// Hamburger
// @see: https://github.com/jonsuh/hamburgers/blob/master/_sass/hamburgers/hamburgers.scss
$hamburger-padding-x: 13px !default;
$hamburger-padding-y: 15px !default;
$hamburger-layer-width: 36px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 5px !default;
//
//// To use CSS filters as the hover effect instead of opacity,
//// set $hamburger-hover-use-filter as true and
//// change the value of $hamburger-hover-filter accordingly.
//$hamburger-hover-use-filter: false !default;
//$hamburger-hover-filter: opacity(50%) !default;
//$hamburger-active-hover-filter: $hamburger-hover-filter !default;
//
//// ---------------------------------------------------------------------------------------------------------------------
//// Facts
//$ce-facts--use-css: true !default;
//$ce-facts--layout-inline: true !default;
//
//// ---------------------------------------------------------------------------------------------------------------------
//// Gallery
//$ce-gallery--use-css: true !default;
//$ce-gallery--layout-default: true !default;
//$ce-gallery--layout-slider: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// Hero
$ps14-hero-hero--use-css: true !default;
$ps14-hero--layout-default: true !default;
$ps14-hero--layout-slider: false !default;
$ps14-hero--layout-video: false !default;

//// ---------------------------------------------------------------------------------------------------------------------
//// Icon Text
//$ce-icon-text--use-css: true !default;
//$ce-icon-text--layout-vertical: true !default;
//$ce-icon-text--layout-horizontal: true !default;
//$ce-icon-text--layout-inline: true !default;
//
//// ---------------------------------------------------------------------------------------------------------------------
//// Employee
//$tx-employee--use-css: true !default;
//$tx-employee---layout-default: true !default;