@import '../../../../xo/Resources/Public/Sass/xo/reboot';
@import '../../../../xo/Resources/Public/Sass/xo/type';
@import '../../../../xo/Resources/Public/Sass/xo/svg';

@import '../../../../xo/Resources/Public/Sass/xo/layout';
@import '../../../../xo/Resources/Public/Sass/xo/navigation';



//@import 'go/navigation';
//@import 'play/logo';

//@import 'play/header';
//@import 'xo/_table.scss';
//
//@import 'go/form';
//@import 'go/button';
////@import 'play/card';
//@import 'go/slider';
//@import 'go/object';
//@import 'go/notification';
//@import 'go/draggable';
//@import 'xo/extensions/fluid-styled-content';
//@import 'play/extensions/play-pages';