// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & Xo
@import 'functions';
@import 'variables';

// ---------------------------------------------------------------------------------------------------------------------
// Reboot & Type
@import '../../../../xo/Resources/Public/Sass/xo/reboot';
@import '../../../../xo/Resources/Public/Sass/xo/type';

// ---------------------------------------------------------------------------------------------------------------------
// CKE
body {
	& {
		margin: 10px;
	}

	& > *:first-child {
		margin-top: 0;
	}
}

.cke_editable {
	font-size: $font-size-base;
	line-height: $line-height-base;
}

// Styles in der Formatauswahl zuruecksetzen
.cke_panel_container {
	body {
		font-size: 13px;
	}

	.h1, .h2, .h3, .h4 {
		margin-top: 0;
	}

	li {
		& {
			position: static;
			padding: 2px;
		}

		&:before {
			display: none;
		}
	}

	& + li {
		margin: 0;
	}
}