// ---------------------------------------------------------------------------------------------------------------------
// Define Variables
$stylesheet-context: 'screen', 'embed', 'import', 'print', 'pdf' !default;

$iconfont-create-font-face: true !default;
$iconfont-create-icon-class: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import 'functions';
@import 'variables';
@import 'mixins';
@import 'definitions';

// ---------------------------------------------------------------------------------------------------------------------
// XNA

// Basics
@import 'xna/reboot';
@import 'xna/type';
@import 'xna/font';
@import 'xna/iconfont';

// Components
@import 'xna/grid';
@import 'xna/components/accessibility';
@import 'xna/components/card';
@import 'xna/components/link';
@import 'xna/components/list';
@import 'xna/components/table';
@import 'xna/components/form';
@import 'xna/components/badge';
@import 'xna/components/responsive-table';
@import 'xna/components/readmore-container';

// Layout
@import 'xna/layout-inline';
@import 'xna/layout';

// ---------------------------------------------------------------------------------------------------------------------
// Components | Modules
@import 'xna/components/accordion';
@import 'xna/modules/text-media';
@import '../../../../entity_product/Resources/Public/Sass/product-frontend';
@import '../../../../entity_product/Resources/Public/Sass/product-keyfact';
@import '../../../../teaser/Resources/Public/Sass/teaser';
@import '../../../../ce_hero/Resources/Public/Sass/hero';
@import '../../../../ce_marker/Resources/Public/Sass/marker';
@import '../../../../chart/Resources/Public/Sass/chart';

// ---------------------------------------------------------------------------------------------------------------------
// Spezielle Definitionen fuer die PDF Version
@import 'xna/print';

.page-header {
	padding-top: 0;
}