// ---------------------------------------------------------------------------------------------------------------------
// Define Variables
$stylesheet-context: 'print' !default;

$tx-product-frontend--use-css: false !default;

$iconfont-create-font-face: false !default;
$iconfont-create-icon-class: false !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import 'functions';
@import 'variables';
@import 'mixins';
@import 'definitions';

// ---------------------------------------------------------------------------------------------------------------------
// XNA Global
@import 'xna/print';

// ---------------------------------------------------------------------------------------------------------------------
// Components | Modules
@import 'xna/components/accordion';
@import '../../../../entity_product/Resources/Public/Sass/product-frontend';
@import '../../../../entity_product/Resources/Public/Sass/product-keyfact';
@import '../../../../teaser/Resources/Public/Sass/teaser';
@import '../../../../ce_marker/Resources/Public/Sass/marker';
@import '../../../../chart/Resources/Public/Sass/chart';