.ce-google-map {
	.ce-google-map--container {
		width: 100%;
		height: 500px;
		background: #ccc;
	}
}

@include media-breakpoint-up(md) {
	.ce-google-map {
		.ce-google-map--container {
			height: 800px;
		}
	}
}