.m-icon-text {
	& {
		margin: rem(10px 0 0 0);
	}

	.c-icon-text + .c-icon-text {
		margin: rem(10px 0 0 0);
	}
}

.m-icon-text--center {
	.c-icon-text {
		text-align: center;
	}

	.c-icon-text--icon-container {
		margin: 0 auto;
	}
}

@include media-breakpoint-up(md) {
	.m-icon-text {
		.c-icon-text + .c-icon-text {
			margin-top: 0;
		}
	}
}