// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../functions';
@import '../../variables';
@import '../../mixins';
@import '../../definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Accordion
.accordion {
	& {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.accordion--header {
		h1, h2, h3, h4 {
			margin-top: 0;
			font-size: inherit;
		}

		button {
			& {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding: rem(15px 0);
				border: 0;
				border-bottom: 1px solid $color-grey-light;
				background: transparent;
				font-weight: $font-weight-normal;
				text-align: left;
				color: $font-color-base;
				cursor: pointer;
			}

			&[aria-expanded=true] {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		svg {
			display: block;
			width: 19px;
			height: 11px;
			margin: 0 4px 0 0;
			transition: transform $transition-duration;
		}
	}
}

