.card {
	& {
		background: #f7f7f7;
	}

	&:hover {
		cursor: pointer;
		background: #ccc;
	}

	.card--title {
		& {
			display: block;
			padding: rem(15px 15px);
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.card--container {
	& {
		margin-top: -$grid-gutter-width / 2;
		@include make-row();
	}

	.card {
		width: 100%;
		margin-top: $grid-gutter-width / 2;
		margin-left: $grid-gutter-width / 2;
		margin-right: $grid-gutter-width / 2;
	}
}

@include media-breakpoint-up(sm) {
	.card--container {
		.card {
			width: calc(#{percentage(1 / 2)} - 30px);
		}
	}
}

@include media-breakpoint-up(md) {
	.card--container {
		.card {
			width: calc(#{percentage(1 / 3)} - 30px);
		}
	}
}