// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../functions';
@import '../../variables';
@import '../../mixins';
@import '../../definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Collapse
.collapse {
	&:not(.show) {
		display: none;
	}
}

.collapsing {
	height: 0;
	overflow: hidden;
	transition: height $transition-duration ease;
}