.ce-flash {
	& {
		margin: rem(20px 0);
		padding: rem(10px 15px);
		background: #f7f7f7;
	}

	.ce-header {
		font-weight: $font-weight-bold;
	}

	.link--cta {
		margin: rem(15px 0 0 0);
	}

	.ce-flash--categories {
		& {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
		}

		li {
			padding: rem(5px 10px 2px 10px);
			background: $theme-color-important;
			font-size: rem(16px);
			font-weight: $font-weight-bold;
			color: #fff;
			border-radius: 3px;
			text-transform: uppercase;
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 768px
@include media-breakpoint-up(md) {
	.ce-flash--container {
		@include clearfix();
	}

	.ce-flash {
		width: rem(400px);
		float: right;
		margin: rem(10px 0 10px 20px);
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// >= 992px
@include media-breakpoint-up(lg) {
	.ce-flash {
		margin-left: rem(30px);
		padding: rem(20px 30px);
	}
}