.link--external {
	& {
		@include iconfont(external);
		position: relative;
		padding: rem(0 0 0 19px);
	}

	&:before {
		position: absolute;
		top: rem(5px); left: rem(1px);
		font-size: rem(11px);
	}
}

.link--download {
	& {
		@include iconfont(download);
		position: relative;
		padding: rem(0 0 0 24px);
	}

	&:before {
		position: absolute;
		top: rem(0px); left: rem(1px);
		font-size: rem(16px);
	}
}

.link--phone {
	&, &:hover, .focusable &:focus {
		color: $font-color-base;
		text-decoration: none;
	}
}

.link--cta {
	& {
		@extend %button;
		@include iconfont(arrow-right);
		padding-right: rem(58px);
	}

	&:before {
		position: absolute;
		top: 17px; right: 30px;
		font-size: rem(12px);
		transition: transform $transition-duration;
	}

	&:hover, .focusable &:focus {
		&:before {
			transform: translate(5px, 0);
		}
	}
}