.link--external {
	& {
		@include iconfont(external);
		position: relative;
		padding: rem(0 0 0 19px);
	}

	&:before {
		position: absolute;
		top: rem(8px); left: rem(1px);
		font-size: rem(11px);
	}
}

.link--download {
	& {
		@include iconfont(download);
		position: relative;
		padding: rem(0 0 0 24px);
	}

	&:before {
		position: absolute;
		top: rem(0px); left: rem(1px);
		font-size: rem(16px);
	}
}

.link--phone {
	&, &:hover, &:focus {
		color: $font-color-base;
		text-decoration: none;
	}
}

.link--cta {
	& {
		@include iconfont(arrow-right);
		position: relative;
		display: inline-block;
		padding: rem(5px 0 5px 55px);
		color: $theme-color-primary;
		background: none;
	}

	&:before {
		position: absolute;
		top: rem(9px); left: rem(9px);
		z-index: 10;
		font-size: rem(13px);
		font-weight: $font-weight-base;
		color: #fff;
		transition: transform $transition-duration;
	}

	&:after {
		content: '';
		position: absolute;
		top: rem(0); left: rem(0);
		z-index: 5;
		width: rem(37px);
		height: rem(37px);
		background: $theme-color-primary;
		border-radius: 3px;
	}

	&:hover {
		& {
			text-decoration: none;
		}

		&:before {
			transform: translate(3px, 0);
		}
	}
}