.navigation {
	ul {
		@include list-unstyled();
	}

	li {
		display: block;
	}

	a, li > span  {
		display: block;
		padding: 3px 10px;
		text-decoration: none;
		font-weight: $font-weight-normal;
	}
}