.table--container {
	& {
		position: relative;
	}

	table {
		margin: 0;
	}

	.table--scroll-container {
		& {
			overflow: auto;
		}

		tr > th:first-child, tr > td:first-child {
			visibility: hidden;
		}
	}

	.table--fixed-container {
		& {
			position: absolute;
			top: 0;
			left: 0; right: 0;
			overflow: hidden;
			user-select: none;
			cursor: move;
		}

		table {
			tr > th:first-child, tr > td:first-child {
				background: #fff;
			}

			tr > th:not(:first-child), tr > td:not(:first-child) {
				visibility: hidden;
			}
		}
	}
}

// >= 992
@include media-breakpoint-up(lg) {
	.table--container {
		.table--scroll-container {
			& {
				overflow: inherit;
			}

			tr > th:first-child, tr > td:first-child {
				visibility: visible;
			}
		}

		.table--fixed-container {
			display: none;
		}
	}
}